/* our brand */

.our-brand {
  padding-top: 70px;
  padding-bottom: 30px;
}

:root {
  --cards: 4;
  --cardHeight: 95vh;
  --cardTopPadding: 0em;
  --cardMargin: 0vw;
}

.our-brand .container {
  width: 90%;
  margin: 0 auto;
}

.card1 {
  --index: 1;
}
.card2 {
  --index: 2;
}
.card3 {
  --index: 3;
}
.card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 20px;
  border: none;
  border-radius: 40px;
  padding-bottom: 10px;
  cursor: url("https://dndesigns.co.in/uploads/misc/cese1.png"), auto;
}

.cards {
  margin-top: 50px;
  list-style: none;
}
.our-brand .cards {
  width: 100%;
  padding-left: 0px;
}
.card-body {
  box-sizing: border-box;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0;
  position: relative;
  border-radius: 40px;
}

.card-body-enlite {
  background-image: url("https://dndesigns.co.in/uploads/pages/enlite main graphic.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-body-nectarpure {
  background-image: url("https://dndesigns.co.in/uploads/pages/Nectarpure.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-body-grin {
  background-image: url("https://dndesigns.co.in/uploads/pages/13.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-body img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.card-body video {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.brand-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent 80%);
  opacity: 1;
  border-radius: 40px;
}

.our-brand-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 50px;
  bottom: 0px;
}

.our-brand-content h3 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  padding-bottom: 5px;
}

.brand-buttons {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}

.brand-buttons button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background: transparent;
  flex: 1 1 0;
  max-width: 200px;
  margin: 5px;
}

.our-brand-content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 10px;
  font-weight: 400;
}

.our-brand-heading {
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  font-size: 50px;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}

.mobile-view-our-brand {
  display: none;
}

@media (max-width: 991px) {
  .our-brand {
    display: none;
  }

  .mobile-view-our-brand {
    display: block;
  }
}

/* our brand mobile view */

.mobile-view-our-brand {
  padding: 80px 0px 20px 0px;
}

.mobile-view-our-brand h2 {
  font-size: 40px;
  color: #000;
  padding-bottom: 40px;
}

.mobile-view-our-brand-h3 {
  color: #ca2734;
  font-size: 32px;
  padding-bottom: 10px;
  padding-top: 5px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.our-brand-mobile-all-div {
  padding: 10px;
  margin: 0px;
}

.our-brand-mobile-div {
  margin-bottom: 20px;
}
.our-brand-mobile-div-clield {
  border: 1px solid #a8a8a8;
  border-radius: 12px;
  height: 100%;
}

.our-brand-mobile-div img {
  border-radius: 12px 12px 0 0;
}
.our-brand-mobile-div video {
  border-radius: 12px 12px 0 0;
}

.our-brand-mobile-div-content {
  padding: 10px;
}

.our-brand-mobile-btn {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  padding: 5px;
}

.our-brand-mobile-btn-up {
  display: flex;
  gap: 10px;
}

.our-brand-mobile-btn-up h4 {
  width: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.our-brand-mobile-btn-bottom {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.our-brand-mobile-div-content p {
  margin-top: 20px;
  color: #888888;
  font-size: 16px;
  line-height: 1.4em;
}

@media (max-width: 767px) {
  .mobile-view-our-brand {
    padding: 40px 0 10px 0px;
  }
}

.mobile-casestudy-wrapper-link {
  text-decoration: none;
  color: #000;
}

/* image  */
.responsive-img {
  width: 100%;
  height: auto;
}

