:root {
  --heading-main-color:var(--heading-main-color);
  --heading-highlite-color: var(--heading-highlite-color);
}

.animation-video-swipper-up{
    display: flex;
    justify-content: space-between;
}

.animation-video-swipper-up h3{
    font-size: 40px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    color: var(--heading-main-color);
}

.hori-line{
    width: 100%;
    height:1px;
    padding-top:1px;
    background-color: black;
    color: black;
    opacity: 1;
}

/* .animation-video-swipper-up button{
    font-size: 16px;
    font-family: var(--font-roboto);
    background-color: black;
    color: #fff;
    border-radius: 30px;
    width: 10%;
    border: none;
} */


.animation-video-swipper-bottom h4{
font-family: var(--font-corbert-bold);
font-size: 18px;
font-weight: 700;
}

.animation-video-swipper-bottom p{
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 30px;
}
.animation-video-swipper-content-only{
    padding-top: 25px;
}

.swipper-content-animation{
    padding-top: 30px;
}


.hr-animation{
    height: 2px;
    width: 100%;
    background-color: var(--heading-main-color);
    margin: 10px 0;
}

@media(max-width:1200px){
    .animation-video-swipper-up button{
    width: 15%;
    height: 40px;
}
}


@media(max-width:767px){
    .animation-video-swipper-up{
    flex-direction: column;
}

.animation-video-swipper-up button{
    width: 30%;
    height: 40px;
}

.animation-video-swipper-up h3{
    font-size: 32px;
    
}

.animation-video-swipper-bottom{
    display: none;
}
}

.mySwiper_mm{
    padding-bottom: 40px;
}


.swiper-pagination {
  padding: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc; 
  opacity: 1;
}


.swiper-pagination-bullet-active {
  background: var(--heading-highlite-color);
  transform: scale(1.3); 
}


