

body {
  overscroll-behavior: none;
}



.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100dvh; 

  background: #fff;
  z-index: 9999999;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  contain: layout paint;
  will-change: transform;
}


@supports not (height: 100dvh) {
  .loader-overlay {
    height: 100vh;
  }
}



.dot-loader-container {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  background: #fff;
}



.dot-loader {
  display: flex;
  gap: 20px;
}



.dot-loader span {
  /* width: 26px;
  height: 26px; */
   width: 70px;
  height: 70px;

  background: #ca2734;
  border-radius: 50%;

  opacity: 0;

  animation: drop 1.4s ease forwards;

  will-change: transform, opacity;
  backface-visibility: hidden;
}



.dot-loader span:nth-child(1) {
  animation-delay: 0s;
}

.dot-loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

.dot-loader span:nth-child(4) {
  animation-delay: 0.6s;
}



@keyframes drop {
  0% {
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }

  60% {
    transform: translate3d(0, 8px, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}



.loader-exit {
  animation: slideUp 0.7s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes slideUp {
  to {
    transform: translate3d(0, -100%, 0);
  }
}



.site-content {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}


@media(max-width:767px){
.dot-loader span {
  /* width: 26px;
  height: 26px; */
   width: 50px;
  height: 50px;
}
}