.lp-faq-images-col{
   padding: 50px 10px 40px 10px;
}

.lp-faq-images-col-head{
    font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
    color: #161616;
    padding-bottom: 50px;
}

.lp-faq-images{
    border-radius: 16px;
}


.row-div{
    display: flex;
    gap: 20px;
}

.col-5-div{
width: 45%;
}

.col-7-div{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dn-video-lp{
    border-radius: 16px;
}


@media(max-width:767px){
    .lp-faq-images-col{
   padding: 10px 10px 40px 10px;
}


}