/* social media   */
.social-media{
  padding: 120px 0;
}

.social-media-row{
  position: relative;
  height: 100%;
  background-color: var(--heading-highlite-color);
  border-radius: 30px;
}

.social-media-main-div{
  position: relative;
  top: 30px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  background-color: var(--heading-highlite-color);
  border-radius: 30px;
}

.wrapper-content{
  width: 60%;
  background-color: #fff;
  padding: 30px;
  position: relative;
  top: 50px;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
}

.social-media-content{
  position: relative;
  top: 50px;
}

.social-media-image-div{
  width: 40%;  
  position: relative;
  left: -20px;
  top: 50px;
}

.social-media-image-div img{
 position: relative;
 left: -20px;
 margin-top: 50px;
 top: 0px;
 padding-bottom: 0;
 bottom: 0;
 border-radius: 10px;
}

.social-media-content h2{
  font-family: var(--font-corbert);
  font-size: 42px;
  padding:20px 0 ;
  line-height: 1.6em;
  width: 70%;
}

.social-media-content p{
  font-size: 18px;
  width: 80%;
  font-family: var(--font-roboto);
  line-height: 1.6em;
  padding-top: 10px;
}

@media(max-width:1200px){
  .social-media-content p{
  font-size: 16px;
  width: 90%;
  font-family: var(--font-roboto);
  line-height: 1.4em;
  padding-top: 5px;
}

.social-media-content h2{
  font-family: var(--font-corbert);
  font-size: 38px;
  padding:10px 0 ;
  line-height: 1.6em;
  width: 90%;
}
}


@media(max-width:991.68px){
  .social-media-content p{
  font-size: 16px;
  width: 95%;
  font-family: var(--font-roboto);
  line-height: 1.2em;
  padding-top: 0px;
}

.social-media-content h2{
 font-family: var(--font-corbert);
  font-size: 30px;
  padding:5px 0 ;
  line-height: 1.2em;
  width: 95%;
}

.social-media-content{
  position: relative;
  top: 0px;
}

.wrapper-content{
  padding: 10px;
}
.btn-social-media{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
}

@media(max-width:767.68px){
  .social-media-main-div{
 flex-direction: column;
 top: 0px;
}

.social-media{
  padding: 30px 5px;
}
.wrapper-content{
  width: 100%;
}

.social-media-image-div{
  width: 100%;  
  position: relative;
  left: 0;
  top: 0px;
  margin-top: 10px;
}

.social-media-image-div img{
  width: 100%;  
  position: relative;
  left: 0;
  top:0;
  margin-bottom: 10px;
}
}


.btn-social-media{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}


/*  But Why Your Logo Even Matters? */

.but-why {
  padding: 40px 0;
}

.but-why h2 {
  font-size: 56px;
  font-family: var(--font-corbert);
  font-weight: 700;
}

.but-why p {
  color: var(--heading-main-color);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
}
 
.but-why-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.but-why-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.but-why-div .cap-img{
  width: 100px;
}

.but-why-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.but-why-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.but-why .headg {
  padding-bottom: 80px;
}

.but-why-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.but-why-back-content p {
  color: #fff;
}

.but-why-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .but-why-btm {
    opacity: 0;
  }

  .but-why-div {
    background-color: var(--heading-highlite-color);
  }

  .but-why-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .but-why h2 {
    font-size: 40px;
    padding: 0 10px;
  }
.but-why .headg {
  padding-bottom: 20px;
}

}


/* creating-your-brand desktop view*/
.creating-your-brand{
  padding: 50px 0;
}

#card1-create {
  --index: 1;
  top: 170px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 210px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 260px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 310px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 360px;
  margin-top: 20px;
}

#card6-create {
  --index: 6;
  top: 400px;
  margin-top: 20px;
}

#card7-create {
  --index: 7;
  top: 450px;
  margin-top: 20px;
}

#card8-create {
  --index: 8;
  top: 360px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 20px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0px 0px 0px 0px;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: var(--heading-main-color);
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: var(--heading-highlite-color);
   font-family: var(--font-corbert-bold);
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
  color: var(--heading-main-color);
   font-family: var(--font-corbert-bold);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body-create p{
      color: #888888;
   font-family: var(--font-roboto);
   font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 40vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/* creating-your-brand mobile view*/

.creating-your-brand-mobile{
  padding: 50px 0;
}

.our-brand-heading-a-mobile{
  color: var(--heading-main-color);
 font-family: var(--font-corbert-bold);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: var(--heading-highlite-color);
   font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
}

.card-body-create-mobile h2{
      color: var(--heading-main-color);
   font-family: var(--font-corbert-bold);
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}




/* Projects Completed 300+ Successfully delivered across industries */
.projects-completed img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.projects-completed-div-main-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.projects-completed-div{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:70px 30px;
   margin: 0 20px;
}

.projects-completed-div h3{
  font-size: 43px;
  color: var(--heading-highlite-color);
 font-family: var(--font-corbert);
  font-weight: 700;
  text-align: center;
}

.projects-completed-div h4{
  font-size: 18px;
  color: var(--heading-main-color);
  font-family: var(--font-corbert);
  font-weight: 700;
  text-align: center;
}

.projects-completed-div p{
  font-size: 14px;
  color: #888;
  font-family: var(--font-roboto);
  font-weight: 700;
  text-align: center;
}

.projects-completed-div-box-sh{
  box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.projects-completed-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .projects-completed-div{
   margin:20px 20px;
}

.e-com-counter{
  padding-bottom: 20px;
  padding-top: 20px;
}
}

.e-com-counter{
  padding-bottom: 20px;
  font-family: var(--font-corbert);
}


/* sucess stories */

.sucess-stories{
  padding: 50px 0;
}

.success-stories-title{
    font-size: 52px;
    font-family: var(--font-corbert);
    color: var(--heading-main-color);
}

.success-stories-para{
    font-size: 18px;
    font-family: var(--font-roboto);
    color: #888888;
    margin-top: 20px;
}

.success-story{
    border-radius: 16px;
    box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #E5E7EB;
}

.success-story img{
  border-radius: 10px 10px 0 0;
}

.success-story-content{
    background-color: #fff;
    border-radius: 16px;
}

.success-story-content h3{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-corbert);
}

.success-story-content p{
    font-size: 16px;
    color: #888888;
    font-family: var(--font-roboto);
}

.success-points{
    display: flex;
    gap: 15px;
    color: var(--heading-highlite-color);
    font-weight: 700;
    font-size: 16px;
    font-family: var(--font-corbert);
}

@media (max-width:768px){
    .success-stories-para{
        width: 100%;
    }
     .success-stories-title{
        font-size: 35px;
    }
    .counts{
        font-size: 35px;
    }
    .counter-title{
        font-size: 18px;
    }
    .counter-heading{
        margin-top: 50px;
    }
}

@media (max-width:1024px){
    .success-points{
        font-size: 14px;
    }
}



 /* faqs */

.faqs h2 {
    font-size: 56px;
    font-family: var(--font-corbert);
    font-weight: 700;
    color: var(--heading-main-color);
}
@media(max-width:767px){
  .faqs h2 {
    font-size: 40px;
    padding: 0 10px;
  }
}





