

/* Switch on your potential with digital marketing */
.switch-on-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.switch-on-div h3{
  font-size: 43px;
  color: #ca2734;
  font-family: "Corbert";
  font-weight: 700;
}

.switch-on-div p{
  font-size: 18px;
  color: #000;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1em;
}





.switch-on-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .switch-on-div{
   margin:20px 20px;
}
}

.vertical-bar{
    height: 130px;
    width: 4px;
    background-color: #000;
    margin: 20px;
}

.switch-on-div-content{
    padding: 20px;
}

/* .switch-on-middle-div-para{
padding: 0;
} */

.switch-on-middle-div-para p{
     font-size: 18px;
     font-family: "Corbert";
    padding: 18px;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius:18px;
}

.switch-on-middle-div-img{
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    
}

.main-switch-img img{
 box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
}


/* We Are The Leading Video */
.we-are-the-leading{
  padding: 80px 0;
}

.we-are-the-leading h3{
    font-size: 50px;
    font-family: "Corbert";
    color: #000;
    width: 70%;
}

.we-are-the-leading-para{
  padding-top: 30px;
}

.we-are-the-leading-para p{
  font-size: 18px;
  font-family: "Roboto-Regular";
  line-height: 1.6em;
}

@media (max-width: 991px) {
  .we-are-the-leading h3{
    font-size: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .we-are-the-leading h3{
    font-size: 35px;
    width: 100%;
  }
  .we-are-the-leading-para{
  padding-top: 20px;
}
}


.top-cap {
  padding: 40px 0;
}

.top-cap h2 {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
}

.top-cap p {
  color: #000000;
  font-family: "Roboto-Regular", Sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.top-cap-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.top-cap-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.top-cap-div .cap-img{
  width: 100px;
}

.top-cap-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.top-cap-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.top-cap .headg {
  padding-bottom: 80px;
}

.top-cap-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-cap-back-content p {
  color: #fff;
}

.top-cap-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .top-cap-btm {
    opacity: 0;
  }

  .top-cap-div {
    background-color: #ca2734;
  }

  .top-cap-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .top-cap h2 {
    font-size: 40px;
  }

  .headg {
    padding: 30px 0;
  }
}


/* organic-sessions  */

.organic-sessions-row{
    background-color: #ca2734;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.organic-sessions-col h3{
   text-align: center;
   font-size: 38px;
   font-family: "Corbert";
   color: #fff;
}

.organic-sessions-col p{
   text-align: center;
   font-size: 18px;
   font-family: "Roboto";
   color: #fff;
   padding-top:20px;
}