.logo-designing-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-designing-hero h1 {
  font-size: 62px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
}

.logo-designing-hero h3 {
  font-size: 35px;
  color: #000;
  font-family: Corbert;
  font-weight: 500;
}

.logo-designing-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.talk-to-us-mobile{
    display: none;
}

@media (max-width: 767px) {

.talk-to-us-desktop{
    display: none;
}
 
.talk-to-us-mobile{
    display: block;
}

.logo-designing-hero h1 {
    font-size: 40px;
  }

.logo-designing-hero p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}



/* Switch on your potential with digital marketing */
.switch-on-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.switch-on-div h3{
  font-size: 43px;
  color: #ca2734;
  font-family: "Corbert";
  font-weight: 700;
}

.switch-on-div p{
  font-size: 18px;
  color: #000;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1em;
}





.switch-on-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .switch-on-div{
   margin:20px 20px;
}
}

.vertical-bar{
    height: 130px;
    width: 4px;
    background-color: #000;
    margin: 20px;
}

.switch-on-div-content{
    padding: 20px;
}

/* .switch-on-middle-div-para{
padding: 0;
} */

.switch-on-middle-div-para p{
     font-size: 18px;
     font-family: "Corbert";
    padding: 18px;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius:18px;
}

.switch-on-middle-div-img{
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    
}


/* We Are The Leading Video */
.we-are-the-leading{
  padding: 80px 0;
}

.we-are-the-leading h3{
    font-size: 50px;
    font-family: "Corbert";
    color: #000;
    width: 70%;
}

.we-are-the-leading-para{
  padding-top: 30px;
}

.we-are-the-leading-para p{
  font-size: 18px;
  font-family: "Roboto-Regular";
  line-height: 1.6em;
}

@media (max-width: 991px) {
  .we-are-the-leading h3{
    font-size: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .we-are-the-leading h3{
    font-size: 35px;
    width: 100%;
  }
  .we-are-the-leading-para{
  padding-top: 20px;
}
}


