/*.....points...... */

.point-cont{
  width: 1120px;
}

.points {
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 1.16px 0px rgba(1.700000000000012, 1.700000000000012, 1.700000000000012, 0.21);
  border-radius: 32px;
  
  margin: 0px 0px 20px 0px;
  position: relative;

  box-shadow: 0px 0px 1.16px 0px rgba(1.700000000000012, 1.700000000000012, 1.700000000000012, 0.21);
  padding: 40px 0px 20px 0px;
}
.Points-Comm{
  box-shadow: 0px 0px 2px 1px #D5D5D5;
  background-color: #FFFFFF;

}


.points-right h2 {
  font-family: var(--font-corbert);
  font-size: 180px;
  font-weight: 700;
  color: var(--heading-main-color);
  position: absolute;
  bottom: 0%;
}
.points-right h3 {
  color: var(--heading-main-color);
  font-family: var(--font-corbert);
  font-size: 25px;
  font-weight: 700;
  
}

.points-para p {
    color: #888888;
    font-family: var(--font-roboto);
    font-weight:400;
    font-size: 16px;
    line-height: 1.4em;
}

.points-left img {
  width: 100%;
  border-radius: 20px;
}
.points-left {
  padding-right: 10px;
}

@media (max-width: 991px) {

  .points{
padding: 10px 10px 20px 10px;

  }
  .points-left {
    display: none;
  }
  .point-cont{
  width: 100%;
}

.points-right h2 {
  font-size: 130px;
  position: relative;
}
.points h3{
  padding-bottom: 20px;
}

.points h2, .points h3{
  text-align: center;
}
}
