

.talk-to-us-cta {
  background-color: #fff;
  font-family: var(--font-helvetica);
  font-weight: 400;
  /* border-radius: 100px 100px 100px 100px; */
  padding: 10px 25px 10px 25px;
  color: #000;
  border: none;
  border-radius: 5px;
}

.fontAwesomeIcon-right-arrow {
  padding-left: 6px;
  transform: rotate(-40deg);
}

