/* Switch on your potential with digital marketing */
.switch-on{
  padding-top: 60px;
  padding-bottom: 40px;
}
.switch-on-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
  height: 100%;
}



.switch-on-div h3{
  font-size: 43px;
  color: var(--heading-highlite-color);
 font-family: var(--font-corbert-bold);
  font-weight: 700;
  padding-bottom: 10px;
}

.switch-on-div p{
  font-size: 18px;
  color: var(--heading-main-color);
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 1em;
}


.switch-row{
    margin-top: 20px;
    
  }


.switch-on-main-row{
  align-items: stretch;
}

@media screen and (max-width:767px) {
  .switch-on{
  padding-top: 10px;
  padding-bottom: 40px;
}
  
}

@media(max-width:991px){
  

  .switch-on-div{
   margin:20px 20px;
}

.switch-row{
    margin-top: 40px;
    padding-left: 15px;
  }

  .switch-on-middle-div-img-last{
    margin: 20px 0;
  }

  .switch-on-div-main{
    margin-top: 20px;
  }
}

.vertical-bar{
    height: 130px;
    width: 4px;
    background-color: var(--heading-main-color);
    margin: 20px;
}

.switch-on-div-content{
    padding: 20px;
}

/* .switch-on-middle-div-para{
padding: 0;
} */

.switch-on-middle-div-para p{
    font-size: 18px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    padding: 18px;
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius:18px;
}

.switch-on-middle-div-img{
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    
}

.main-switch-img img{
  border-radius: 12px;

}

.toggle-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* We Are The Leading Video */


.every-pr {
  color: var(--heading-highlite-color);
}

.we-are-the-leading{
  padding-top: 80px;
  padding-bottom: 80px;
}

.we-are-the-leading h3{
    font-size: 50px;
   font-family: var(--font-corbert-bold);
   font-weight: 700;
    color: var(--heading-main-color);
    width: 70%;
}

.we-are-the-leading-para{
  padding-top: 30px;
}

.we-are-the-leading-para p{
  font-size: 18px;
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 1.6em;
}

@media (max-width: 991px) {
  .we-are-the-leading h3{
    font-size: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .we-are-the-leading h3{
    font-size: 35px;
    width: 100%;
  }
  .we-are-the-leading-para{
  padding-top: 20px;
}

.we-are-the-leading{
  padding-top: 40px;
  padding-bottom: 20px;
}
}


/* top capibilities */

.top-cap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-cap h2 {
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.top-cap p {
  color: var(--heading-main-color);
 font-family: var(--font-roboto);
 font-weight: 500;
  font-size: 16px;
  line-height: 1.4em;
}
.top-cap-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.top-cap-row-2, .top-cap-row-3 {
  margin-top: 30px;
}

.top-cap-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.top-cap-div .cap-img{
  width: 100px;
}

.top-cap-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}
.top-cap-btm h3{
  font-size: 24px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: var(--heading-main-color);
  padding-bottom: 10px;}

.top-cap-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.top-cap .headg {
  padding-bottom: 60px;
}

.top-cap-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.top-cap-back-content h3 {
  font-size: 24px;
  font-family: var(--font-corbert-bold);
  color: #fff;
  padding-bottom: 10px;
  font-weight: 700;
}

.top-cap-back-content p {
  color: #fff;
}

.top-cap-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .top-cap-btm {
    opacity: 0;
  }

  .top-cap-div {
    background-color: var(--heading-highlite-color);
  }

  .top-cap-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .top-cap h2 {
    font-size: 40px;
  }

  .headg {
    padding-bottom: 30px;
  }

  .top-cap-row-2, .top-cap-row-3 {
  margin-top: 0px;
}
}


/* standalone  */
.standalone-sec{
  padding-top: 50px;
  padding-bottom: 50px;
}

.standalone-sec .headg{
  font-size: 50px;
    color: var(--heading-main-color);
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    padding-bottom: 30px;

}

@media screen and (max-width:767px) {
  .standalone-sec .headg{
    font-size: 40px;
    padding-bottom: 10px;
  }
  .standalone-sec{
  padding-top: 30px;
  padding-bottom: 10px;
}
}



/* organic-sessions  */
.organic-sessions{
  padding-top: 30px;
  padding-bottom: 40px;
}

.organic-sessions-row{
    background-color: var(--heading-highlite-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.organic-sessions-col h3{
   text-align: center;
   font-size: 38px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
   color: #fff;
}

.organic-sessions-col p{
   text-align: center;
   font-size: 18px;
  font-family: var(--font-roboto);
   color: #fff;
   padding-top:20px;
}

@media(max-width:991px){
  .organic-sessions{
  padding: 40px 10px;
}
}

/* faqs */

.faqs{
  padding: 50px 0px 40px 0px;
}

.faqs h2 {
    font-size: 56px;
    font-family: var(--font-corbert);
    font-weight: 700;
    color: var(--heading-main-color);
}
@media(max-width:767px){
  .faqs h2 {
    font-size: 40px;
    padding: 0 10px;
  }
}