.all-page-form{
  padding-top:50px;
  padding-bottom:50px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-row{
  background-color: #ca2734;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 16px 16px 0px ;
}



.inpt label{
    font-family: var(--font-corbert);
        cursor: pointer;
        color: var(--heading-main-color);
        font-size: 16px;
        font-weight:400;
}

.inpt label span{
  color: var(--heading-highlite-color);
}

.inpt input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ADADAD;
  border-radius: 12px;
 font-family: var(--font-roboto);
  padding: 10px;
  font-size: 14px;
  margin:10px 0px;
}
.inpt textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ADADAD;
  border-radius: 12px;
 font-family: var(--font-roboto);
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}


.inpt input::placeholder,
.inpt textarea::placeholder {
  color: #ADADAD;
  opacity: 1;
  font-family: var(--font-roboto);
}

.sbmt-btn {
  width: 100%;
  padding: 16px;
  background: var(--heading-main-color);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
 font-family: var(--font-roboto);
} 

.form-box{
  padding: 10px;
  background-color: var(--heading-highlite-color);
  margin: 0;
  height: 100%;
}

.main-form{
  border-radius: 16px;
  background-color: #fff;
  padding: 20px;
  height: 100%;
}


.form-left-content{
  border-right: 10px solid var(--heading-highlite-color);
  border-top: 10px solid var(--heading-highlite-color);
  border-bottom: 10px solid var(--heading-highlite-color);
  padding: 0;
  margin: 0;
}
.form-content-wrapper{
  height: 100%;
}


.form-main-content{
  background-color: #ffffff;
  border-radius: 0px 16px 16px 0px ;
  padding: 25px;
  height: 100% !important;
  width: 100%;

}



.form-main-content h3{
    color: var(--heading-main-color);
    font-family: var(--font-corbert-bold);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    
}

.form-main-content p{
       font-family: var(--font-roboto);
        color: var(--heading-main-color);
        line-height:1.6em;
        font-weight: 500;
        font-size: 18px;
}
/* .form-main-content.animate{
  opacity: 0;
  transform: translateX(-100px); 
  animation: fadeInLeft 1s ease-out forwards;
} */

/* @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
} */


@media(max-width:1025px){
  .form-box{
  padding: 10px 0px 10px 0px ;
}

.form-main-content h3{
  font-size: 40px;
}
}

.succes-class-form{
  color: #ca2734;
  font-weight: "Roboto";
  font-size: 18px;
  margin-top: 10px;
}



