.all-page-form{
  padding-top:50px;
  padding-bottom:50px;
  padding-left: 100px;
  padding-right: 20px;
     height: 100%;
     position: relative;
    z-index: 999;
}

.form-row{
  /* background-color: #ca2734; */
  padding-top: 10px;
  /* padding-bottom: 10px; */
  border-radius: 0px 16px 16px 0px ;
  height: 100% !important;
  
}



.inpt label{
    font-family: var(--font-roboto);
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight:400;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 0.8em;
        padding-top: 3px;

}

.inpt label span{
  color: #ca2734;
}

.inpt input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
 font-family: var(--font-roboto);
  padding: 10px;
  font-size: 14px;
  margin:10px 0px;
  background-color: #F2F2F2;
  /* color: rgba(0, 0, 0, 0.29); */
  color:#000;
}
.inpt textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
 font-family: var(--font-roboto);
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  background-color: #F2F2F2;
  /* color: rgba(0, 0, 0, 0.29); */
  color:#000;
}


.inpt input::placeholder,
.inpt textarea::placeholder {
  color: rgba(0, 0, 0, 0.29);
  opacity: 1;
  font-family: var(--font-roboto);
}

.sbmt-btn {
  width: 100%;
  padding: 14px;
  background: #ca2734;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
 font-family: var(--font-roboto);
} 

.form-box{
  /* padding: 10px; */
  /* background-color: #ca2734; */
  margin: 0;
  height: 100%;
  border-radius: 12px;
  /* box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.102); */
  border-top: 4px solid #ca2634;
box-shadow: 0 2px 11px -1px rgba(0, 0, 0, 0.102);
background-color: #fff;
}

.main-form{
  border-radius: 16px;
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  /* height: 100%; */
}


.form-left-content{
  border-right: 10px solid #ca2734;
  border-top: 10px solid #ca2734;
  border-bottom: 10px solid #ca2734;
  padding: 0;
  margin: 0;
}
.form-content-wrapper{
  height: 100%;
}


.form-main-content{
  background-color: #ffffff;
  border-radius: 0px 16px 16px 0px ;
  padding: 25px;
  height: 100% !important;
  width: 100%;

}



.form-main-content h3{
    color: #000;
    font-family: var(--font-corbert-bold);
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
    
}

.form-main-content p{
       font-family: var(--font-roboto);
        color: #000;
        line-height:1.6em;
        font-weight: 500;
        font-size: 18px;
}
/* .form-main-content.animate{
  opacity: 0;
  transform: translateX(-100px); 
  animation: fadeInLeft 1s ease-out forwards;
} */

/* @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
} */


@media(max-width:1025px){
 

.form-main-content h3{
  font-size: 40px;
}

.all-page-form{
  padding-top:50px;
  padding-bottom:50px;
  padding-left: 20px;
  padding-right: 20px;
     height: 100%;
}
}

.succes-class-form{
  color: #ca2734;
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 10px;
}

.all-page-form-container{
      height: 100%;
   
}

.form-content-head-para{
  padding: 20px 20px 0 20px;
}

.form-content-head{
  font-family: var(--font-corbert-bold);
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.form-content-para{
  font-family: var(--font-roboto);
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 400;
}


@media(max-width:767px){
  .all-page-form{
    padding: 0px;
  }

  .sbmt-btn{
    padding: 10px;
    font-size: 14px;
  }
}