/* 

.page-transition {
  position: fixed;
  inset: 0;
  background: #ca2734;
  z-index: 9999998;
  pointer-events: none;

  transform: translateY(100%);
}



.page-transition.run {
  animation: pageSlide 1s ease-in-out forwards;
}



@keyframes pageSlide {
  
  0% {
    transform: translateY(100%);
  }

  
  100% {
    transform: translateY(-100%);
  }
} */



/* ================= PAGE TRANSITION ================= */

.page-transition {
  position: fixed;
  inset: 0;
  background: #ca2734;
  z-index: 9999998;
  pointer-events: none;

  
  contain: strict;
  will-change: transform;

  transform: translateY(100%);
}

.page-transition.run {
  animation: pageSlide 1s ease-out forwards;
  
}

@keyframes pageSlide {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
