/* ================= PAGE TRANSITION ================= */

.page-transition {
  position: fixed;
  inset: 0;
  background: #ca2734;
  z-index: 9999998;
  pointer-events: none;

  transform: translateY(100%);
}

/* Run animation */

.page-transition.run {
  animation: pageSlide 1s ease-in-out forwards;
}

/* With pause */

@keyframes pageSlide {
  /* Enter */
  0% {
    transform: translateY(100%);
  }

  /* Full cover */
  /* 35% {
    transform: translateY(0);
  } */

  /* Pause */
  /* 60% {
    transform: translateY(0);
  } */

  /* Exit */
  100% {
    transform: translateY(-100%);
  }
}
