.logo-designing-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-designing-hero h1 {
  font-size: 62px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
}

.logo-designing-hero h3 {
  font-size: 35px;
  color: #000;
  font-family: Corbert;
  font-weight: 500;
}

.logo-designing-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.talk-to-us-mobile{
    display: none;
}

@media (max-width: 767px) {

.talk-to-us-desktop{
    display: none;
}
 
.talk-to-us-mobile{
    display: block;
}

.logo-designing-hero h1 {
    font-size: 40px;
  }

.logo-designing-hero p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}


/* Projects Completed 300+ Successfully delivered across industries */
.projects-completed img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.projects-completed-div-main-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.projects-completed-div{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:70px 30px;
   margin: 0 20px;
}

.projects-completed-div h3{
  font-size: 43px;
  color: #ca2734;
  font-family: "Corbert";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div h4{
  font-size: 18px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div p{
  font-size: 14px;
  color: #888;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div-box-sh{
  box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.projects-completed-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .projects-completed-div{
   margin:20px 20px;
}
}


/* The Protagonists  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 40px;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: #000000;
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: "Roboto";
  margin-bottom: 40px;
}

.every-pr {
  color: #ca2734;
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Corbert";
  font-weight: 500;
  color: #ca2734;
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: "Roboto-Regular";
}

.app-pro-div-up{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
 .appr-pro .appr-pro-main-head {
  font-size: 40px;
}
}

.app-pro-div-first{
  padding: 30px 20px;
  border-radius: 10px;
  height: 100%;
}

.app-pro-div-first h3{
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Corbert";
  font-weight: 500;
  color: #ca2734;
}

.app-pro-div-first-btn{
  display: flex;
  align-items: center;
  margin-top: 40px;
}



/* We have got a dedicated team to support you and your vision */

.dedicated-team{
  padding: 80px 0;
}


.dedicated-team-hedg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dedicated-team-hedg h2{
  font-size: 50px;
  font-family: "Corbert";
  color: #000;
  width: 70%;
  text-align: center;
  padding: 30px 0;
}

.dedicated-team-hedg-span{
  color: #ca2734;
}