/* Projects Completed 300+ Successfully delivered across industries */

.projects-completed{
  padding: 40px 0px;
}
.projects-completed img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.projects-completed-div-main-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.projects-completed-div{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:70px 30px;
   margin: 0 20px;
}

.projects-completed-div h3{
  font-size: 43px;
  /* color: var(--heading-highlite-color); */
  color: #ca2734;
  font-family: var(--font-corbert);
  font-weight: 600;
  text-align: center;
  padding-bottom: 7px;
}

.projects-completed-div h4{
  font-size: 20px;
  color: #000;
  font-family: var(--font-corbert-bold);
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
}

.projects-completed-div p{
  font-size: 14px;
  color: #888;
  font-family: var(--font-roboto);
  font-weight: 500;
  text-align: center;
}

.projects-completed-div-box-sh{
  box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.projects-completed-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .projects-completed-div{
   margin:20px 20px;
}
}


/* Our Core Passion */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 20px;
}

.every-pr {
  color: #ca2734;
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: #ca2734;
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
 font-family: var(--font-roboto);
}

.app-pro-div-up{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
 .appr-pro .appr-pro-main-head {
  font-size: 40px;
}
}

.app-pro-div-first{
  padding: 30px 20px;
  border-radius: 10px;
  height: 100%;
}

.app-pro-div-first h3{
  padding-bottom: 10px;
  font-size: 24px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: #ca2734;
}

.app-pro-div-first-btn{
  display: flex;
  align-items: center;
  margin-top: 40px;
}



/* We have got a dedicated team to support you and your vision */

.dedicated-team{
  padding:50px 20px;
}


.dedicated-team-hedg{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dedicated-team-hedg h2{
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  color: #000;
  width: 70%;
  text-align: center;
  padding: 30px 0;
}

.dedicated-team-hedg-span{
  color: #ca2734;
}

@media(max-width:991px){
  .dedicated-team-hedg h2{
        font-size: 40px;
        width: 100%;
  }
}

@media(max-width:767px){

  .dedicated-team{
  padding:30px 20px;
}
  .dedicated-team-hedg h2{
        font-size: 30px;
        width: 100%;
  }
}


/*.....points-about...... */


.point{
  padding: 30px 0px;
}
.point-cont{
  width: 1300px;
}

.points-about {
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 1.16px 0px rgba(1.700000000000012, 1.700000000000012, 1.700000000000012, 0.21);
  border-radius: 32px;
  
  margin: 0px 0px 20px 0px;
  position: relative;

  box-shadow: 0px 0px 1.16px 0px rgba(1.700000000000012, 1.700000000000012, 1.700000000000012, 0.21);
  padding: 30px 0px 10px 0px;
}
.points-about-Comm{
  box-shadow: 0px 0px 2px 1px #D5D5D5;
  background-color: #FFFFFF;

}


.points-about-right h2 {
  font-family: var(--font-corbert-bold);
  font-size: 180px;
  font-weight: 700;
  color: #000;
  position: absolute;
  bottom: 0%;
}
.points-about-right h3 {
  color: #000;
 font-family: var(--font-corbert-bold);
  font-size: 25px;
  font-weight: 700;
  
}

.points-about-para p {
    color: #888888;
    font-family: var(--font-roboto);
    font-weight:400;
    font-size: 16px;
    line-height: 1.4em;
}

.points-about-left img {
  width: 100%;
  border-radius: 20px;
}

.points-about-left-img{
  width: 100%;
  border-radius: 20px;
}

.points-about-left {
  padding-right: 10px;
}

@media (max-width: 991px) {

  .points-about{
padding: 10px 10px 20px 10px;

  }
  .points-about-left {
    display: none;
  }
  .point-cont{
  width: 100%;
}

.points-about-right h2 {
  font-size: 130px;
  position: relative;
}
.points-about h3{
  padding-bottom: 20px;
}

.points-about h2, .points-about h3{
  text-align: center;
}
}

.form-section{
  padding: 80px 0px 30px;
}


/* image  */
.responsive-img {
  width: 100%;
  height: auto;
}