.post-details{
    padding-top: 20px;
}

.sstatic{
        font-size: 14px;
        color: #43464b;
        font-family: "Roboto";
        font-weight: 400;
}

.dyna{
    font-size: 14px;
        color: #ca2734;
        font-family: "Roboto";
        font-weight: 400;
        padding-left: 5px;
}

.single-blog-list-post-head{
    color: #000;
    font-size: 36px;
    font-weight: 500;
    transition: 0.5s;
    line-height: 1.2em;
    text-decoration: none;
}



.single-blog-list-post-para{
       color: #43464b;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    line-height: 2em;
    letter-spacing: 0.1px;
    font-family: "Roboto";
}


.blog-read-more-btn{
    background-color: #ca2734;
    color: #ffffff;
    padding: 15px 42px 16px 42px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0.25em;
    border: none;
    transition: 0.5s;
    letter-spacing: 0.1px;
    font-family: "Roboto";
}




.blog-right-side {
    position: relative;
    overflow: visible;
}

.sticky-blog-form {
    position: sticky;
    top: 20px;
}




