.photography-image-img img{
   border-radius: 30px;
}

/* The Protagonists  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 40px;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: var(--font-corbert);
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: var(--heading-main-color);
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: var(--font-roboto);
  margin-bottom: 40px;
}

.every-pr {
  color: var(--heading-highlite-color);
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
 font-family: var(--font-corbert);
  font-weight: 500;
  color: var(--heading-highlite-color);
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: var(--font-roboto);
}

.app-pro-div-up{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
 .appr-pro .appr-pro-main-head {
  font-size: 40px;
}
}

/* organic-sessions  */

.organic-sessions-row{
    background-color: var(--heading-highlite-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.organic-sessions-col h3{
   text-align: center;
   font-size: 38px;
   font-family: var(--font-corbert);
   color: #fff;
}

.organic-sessions-col p{
   text-align: center;
   font-size: 18px;
   font-family: var(--font-roboto);
   color: #fff;
   padding-top:20px;
}

/* visual-stories-that */
.visual-stories-that{
    padding: 80px 0;
}

.visual-stories-that-content{
    padding: 20px;
}

.visual-stories-that-content h3{
   font-family: var(--font-corbert);
    font-size: 40px;
    color: var(--heading-highlite-color);
    line-height: 1.6em;
    font-weight: 700;
}

.visual-stories-that-content p{
    font-family: var(--font-corbert);
    font-size: 18px;
    color: #6F6F6F;
    line-height: 1.6em;
    font-weight: 500;
}

.visual-stories-that img{
    border-radius: 20px;
}


@media (max-width:991px){
  .visual-stories-that{
    padding: 30px 0;
}

.visual-stories-that-content h3{
  font-size: 30px;
}
}