/* home hero section */

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
}
.hero-rows {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.left-hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 56px;
  color: #000;
  margin-bottom: 30px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.hero p {
  font-weight: 500;
  width: 70%;
  color: #666;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.4em;
}

.hero-img {
  position: relative;
  z-index: 1;
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  animation: anime 1.5s ease forwards;
  height: 97%;
}

@keyframes anime {
  0% {
    opacity: 0;
    left: 100%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.hero-img-main {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

@media (max-width: 992px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero h1 {
    font-size: 34px;
  }

  .hero img {
    margin-top: 30px;
  }

  .hero-rows {
    flex-direction: column;
  }

  .hero p {
    width: 90%;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

/* image  */
.responsive-img {
  width: 100%;
  height: auto;
}
