.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-hori {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

.hrportfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.hrpanel {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
}
.hrpanel_item {
  height: 100%;
  width: 100%;
}

.hrpanel_item{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.horizonatl-scroll-all-content{
  position: relative;
  margin: 50px;
}


.horizonatl-scroll-all-content{
  position: relative;
 
}

.overlay-data{
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 40px;
}

.oo-cc-pp{
  position: relative;
}

.overlay-content-pure{
  position: absolute;
  top: 60%;
  padding: 40px;
}

.overlay-content-pure h2{
  font-family: "Corbert";
  font-size: 50px;
  margin-left: 20px;
}

.overlay-content-pure p{
  font-family: "Roboto";
  font-size: 18px;
  margin-left:10px 20px;
}

.overlay-content-pure button{
  font-family: "Roboto";
  font-size: 16px;
  border-radius: 100px;
  margin: 10px 20px;
  width: 25%;
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
}


.horizonatl-scroll-all-content img{
   border-radius: 40px;
}

@media(max-width:1380px){
  .overlay-content-pure{
  top: 50%;
}
}

@media(max-width:1320px){

  .overlay-content-pure button{
 width: 25%;
 border-radius: 50px;
}

.overlay-content-pure{
  top: 45%;
}
}

@media(max-width:1320px){

.overlay-content-pure{
  top: 40%;
}
}

@media(max-width:1110px){

.overlay-content-pure{
  top: 30%;
}
.overlay-content-pure h2{
  font-family: "Corbert";
  font-size: 40px;
  margin-left: 20px;
}

.overlay-content-pure p{

  font-size: 16px;
  
}
}

.section-hori {
  display: flex;
  flex-wrap: nowrap;
}

.hrpanel {
  flex: 0 0 100vw; 
}


@media(max-width:1300px) and (max-height:500px){
 .hr-branding-that-div{
  margin-bottom: 95px;
 }
}