/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */

/* *, *:before, *:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
} */
/* body { 
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFEFE;
  overflow-x: hidden;
} */
.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* h1 {
  font-size: 3rem;
  color: #000;
} */
.section-hori {
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}
.hrportfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  /* background-color: #1F242D; */
  overflow: hidden;
}
.hrportfolio_title {
  position: absolute;
  top: 0;
  left: -15rem;
  font-size: 24rem;
  letter-spacing: 0;
  -webkit-text-stroke-color: #343A42;
}
.hrtext-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.hrpanel {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* padding: 10rem 7rem 2rem 7rem; */
  background-color: transparent;
}
.hrpanel_item {
  height: 100%;
  width: 100%;
}

/* .hrpanel_img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
} */



/* HorizontalScroll.css */
.hrpanel_item{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .text-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px;
    max-width: 80%;
}


.text-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff; 
}

.text-content p {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.5;
}
 */


.horizonatl-scroll-all-content{
  padding: 50px 30px;
  position: relative;
  margin: 50px;
}

.hr-brand-that-overlay{
  padding: 50px 30px;
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 40px;
}

