/* fnb-page-hero */
.fnb-page-hero{
    padding: 50px 0;
}

.fnb-page-hero-content-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
}

.fnb-page-hero-content-col-label-para{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 14px;
    color: #ca2734;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.fnb-page-hero-content-col-head{
    font-family: var(--font-corbert-bold);
    font-size: 55px;
    font-weight: 700;
    color: #000;
    padding-bottom: 15px;
}

.fnb-page-hero-content-col-desc-para{
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    color: #44474C;
}

.fnb-page-hero-img-col{
    display: flex;
    align-items: center;
    justify-content: end;
}

.fnb-page-hero-img-col-img{
    width: 60%;
}

.fnb-page-hero-content-cta-div{
    display: flex;
    align-items: start;
    justify-content: start;
}

@media(max-width:991px){
    .fnb-page-hero-img-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fnb-page-hero-img-col-img{
    width: 100%;
}  
.fnb-page-hero-content-col-head{
    font-size: 40px;
} 
}



/* Our Portfolio */
.port-row {
  padding: 10px 0;
}

.port-div {
  border: 1px solid #a8a8a8;
  padding: 0;
  border-radius: 12px;
  height: 100%;
 
}

.port-div img {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.port-div-img {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.port-div video {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.portfolio {
  padding: 80px 10px 30px 10px;
}

.portfolio h2 {
  color: #000;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.every-pr {
  color: #ca2734;
}

.potfolio-div-btns {
  display: flex;
  justify-content: space-between;
}

.our-port-btn {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  padding: 7px 10px;
  font-family: var(--font-roboto);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px 6px 6px 6px;
  font-size: 12px;
  color: #ca2734;
}

.our-port-btn-up {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.our-port-btn-up button {
  font-family: var(--font-corbert);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  font-size: 18px;
}

.port-content {
  padding: 20px 20px 20px 20px;
}
.port-div-headg h3 {
  color: #ca2734;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  font-size: 32px;
}

.port-content p {
  color: #888888; 
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4em;
  padding-top: 5px;
  padding-bottom:0 ;
}
.port-main-div{
  margin-top: 10px;
}

@media(max-width:991px){
    .port-row{
        padding: 0 0;
    }
}



@media (max-width: 768px) {
  
  .portfolio {
  padding: 50px 10px 30px 10px;
}

  .portfolio h2 {
  font-size: 40px;
  padding-bottom: 30px;
}
  .our-port-btn-up button {
    font-size: 14px;
  }

  .port-div-headg h3 {
    font-size: 24px;
  }
  .our-port-btn {
    padding: 5px;
  }
  .port-content {
    padding: 15px;
  }
  .potfolio-div-btns {
    flex-direction: column;
  }

  .port-div {
    margin: 10px 0;
  }

  .port-row {
  padding: 0px 0px;
}

.port-main-div{
  margin-top: 10px;
}
}

@media(max-width:1200px){
      
.port-div-headg h3 {
  font-size: 25px;
}
}

@media(max-width:1200px){
.port-div-headg h3 {
  font-size: 32px;
   padding-bottom: 10px;
}
 .potfolio-div-btns{
  display: flex;
  flex-direction: column;
 }

 .our-port-btn{
  width: 50%;
  text-align: center;
 }
 .our-port-btn-up{
  margin: 0;
  padding: 0;
 }

 .port-content p{
  padding-top: 10px;
 }
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

.port-div-img{
  aspect-ratio: 750 / 750;
}

.our-brand-mobile-div-img{
  aspect-ratio: 1500 / 1000;
}

.branding-that-mobile-div-img{
  aspect-ratio: 1500 / 1000;
}


/* why f and b */
.why-fandb-section{
    background-color: #F4F3F1;
    padding: 60px 0;
    margin: 40px 0;
}

.why-fandb-section-head{
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    font-size: 40px;
    color: #000;
    width: 60%;
}

.why-fandb-section-head-span{
    color: #ca2734;
}

.why-fandb-section-col{
    background-color: #fff;
    border: 1px solid rgba(15, 28, 46, 0.08);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(15, 28, 46, 0.04);
    padding: 20px;
}

.why-fandb-section-col-para{
    font-family: var(--font-roboto);
    font-size: 16px;
    color: #44474C;
    font-weight: 400;
}

@media(max-width:991px){
    .why-fandb-section-head{
        width: 100%;
        font-size: 30px;
    }
}

/* everything-a-food */