.every-pr {
  color: var(--heading-highlite-color);
}

/* grow-your-business */
.grow-your-business{
  padding-top: 50px;
  padding-bottom: 50px;
}


.grow-your-bussiness-col-main{
    display: flex;
  flex-direction: column;
    height: 100%; 
}

.grow-your-bussiness-col-1{
       padding:50px 20px;
        box-shadow: 0 2px 11px -1px #0000001a;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: auto;
}

.grow-your-bussiness-col-1 img, .grow-your-bussiness-col-3 img{
    width: 50px;
}

.grow-your-bussiness-col-1 h3, .grow-your-bussiness-col-3 h3{
    font-size: 22px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    color: var(--heading-main-color);
    padding-top:25px;
    text-align: center;
}

.grow-your-bussiness-col-1 p, .grow-your-bussiness-col-3 p{
   text-align: center;
   font-family: var(--font-roboto);
   font-weight: 500;
   font-size: 18px;
   color: #888;
   padding-top: 10px;
}

.grow-your-bussiness-col-2{
    display: flex;
    align-items: center;
    justify-content: center;
}


.grow-your-bussiness-col-3{
       padding:50px 20px;
        box-shadow: 0 2px 11px -1px #0000001a;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

/* We Are The Leading Video */
.we-are-the-leading{
  padding: 80px 0;
}

.we-are-the-leading h3{
    font-size: 50px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    color: var(--heading-main-color);
    width: 70%;
    padding-bottom: 10px;
}


.we-are-the-leading-para{
  padding-top: 30px;
}

.we-are-the-leading-para p{
  font-size: 18px;
  font-family: var(--font-roboto);
  line-height: 1.6em;
}

@media (max-width: 991px) {
  .we-are-the-leading h3{
    font-size: 40px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .we-are-the-leading h3{
    font-size: 35px;
    width: 100%;
  }
  .we-are-the-leading-para{
  padding-top: 20px;
}
}

/* standalone  */
.standalone-sec-inf{
  padding-top: 50px;
  padding-bottom: 50px;
}

.standalone-sec-inf .headg{
  font-size: 50px;
    color: var(--heading-main-color);
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    padding-bottom: 30px;

}

@media screen and (max-width: 767px) {
  .standalone-sec-inf .headg{
    font-size: 40px;
  }

  .standalone-sec-inf{
  padding-top: 30px;
  padding-bottom: 20px;
}
}


/* top-cap */

.top-cap {
  padding-top: 30px;
  padding-bottom: 40px;
}
.top-cap-row-2 {
  margin-top: 30px;
}

.top-cap h2 {
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.top-cap p {
  color: var(--heading-main-color);
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
}
.top-cap-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.top-cap-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.top-cap-div .cap-img{
  width: 100px;
}

.top-cap-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.top-cap-btm h3 {
  font-size: 22px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: var(--heading-main-color);
  padding-bottom: 10px;
}

.top-cap-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.top-cap .headg {
  padding-bottom: 80px;
}

.top-cap-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-cap-back-content h3 {
  font-size: 22px;
  font-family: var(--font-corbert-bold);
  color: #fff;
  padding-bottom: 10px;
}

.top-cap-back-content p {
  color: #fff;
}

.top-cap-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .top-cap-btm {
    opacity: 0;
  }

  .top-cap-div {
    background-color: var(--heading-highlite-color);
  }

  .top-cap-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .top-cap h2 {
    font-size: 40px;
  }

  .headg {
    padding: 30px 0;
  }
  .top-cap-row-2 {
  margin-top: 0px;
}
.top-cap {
  padding-top: 10px;
  padding-bottom: 10px;
}
}










