.Bread{
    font-size: 16px;
    font-family: var(--font-corbert);
    color: var(--heading-main-color);
    text-decoration: none;
}
.Bread-sub{
    font-size: 16px;
    font-family: var(--font-corbert);
    color: #434347;
    text-decoration: none;
}

.breadCrump-prev{
    font-family: var(--font-corbert);
        color: #A5A4B0;
        font-size: 16px;
        padding: 0 5px;
        font-weight: 800;
}

.breadCrump{
   font-family: var(--font-corbert);
}

