
.packaging-images{
  border-radius: 20px !important;
}
.packaging-point-number{
  font-size: 50px;
  font-family: var(--font-corbert);
  color: var(--heading-main-color);
}
.packaging-points-title{
  font-size: 23px;
  margin-bottom: 10px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: var(--heading-main-color);
}
.packaging-points-para{
  color: #888;
  font-size: 16px;
  font-family: var(--font-roboto);
}
.packaging-cards:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px !important;
}
.active-card {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px !important;
}

@media (max-width:1024px){
  .packaging-points-title{
    font-size: 25px;
    margin-bottom: 0;
    font-family: var(--font-corbert-bold);
    text-align: center;
    font-weight: 700;
  }
}

.packaging-heading{
  font-family: var(--font-corbert);
  font-size: 40px;
  color: var(--heading-main-color);
}

.standalone-packaging-mobile .packaging-points-para{
  color: #888;
  font-size: 16px;
  font-family: var(--font-roboto);
  padding-bottom: 10px;
}
.standalone-packaging-mobile .packaging-images{
  padding-bottom: 10px;
}