body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --heading-main-color:#000000;
  --heading-highlite-color: #ca2734;

}


/* fonts */
.heading-corbert {
  font-family: var(--font-corbert);
  font-weight: 600;
}

.heading-corbert-light {
  font-family: var(--font-corbert);
  font-weight: 400;
}

.para-roboto {
  font-family: var(--font-roboto);
}
