body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

/* global colors */
:root {
  --heading-main-color: #000;
  --heading-highlite-color: #ca2734;
}

/* fonts global */
.heading-corbert {
  font-family: var(--font-corbert);
  font-weight: 600;
}

.heading-corbert-light {
  font-family: var(--font-corbert);
  font-weight: 400;
}

.para-roboto {
  font-family: var(--font-roboto);
}
