/* Our Work */

.our-work-tab{
    padding-top: 50px;
    padding-bottom: 40px;
}
.headg {
  padding-bottom: 50px;
}

.our-work-tab h2 {
  font-size: 56px;
  font-family: var(--font-corbert);
  font-weight: 700;
}

/* tabs our work */
.tab {
  overflow: hidden;
  margin-bottom: 20px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px;
  font-family: var(--font-corbert);
}

.tab button:hover {
  color: #ca2734;
}

.tab button.active {
  color: #ca2734;
}

.tabcontent {
  padding: 6px 12px;
}

.tab-img {
  margin: 8px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #d8d5d5;
  border-radius: 8px 8px 8px 8px;
}

.explore-more button {
    margin-top: 30px;
  background-color: #ca2734;
  font-family: var(--font-roboto);
  border-radius: 100px 100px 100px 100px;
  padding: 15px 50px 15px 50px;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .our-work-tab h2 {
    font-size: 40px;
  }

  .tab button {
    font-size: 18px;
  }

  .explore-more button {
    font-size: 16px;
    padding: 12px 40px 12px 40px;
  }
}