:root {
    --primary-color: #ca2734;
    --text-color: #000000;
    --nav-bg-color: #1a1a1a;
    --nav-link-color: #ffffff;
    --transition-speed: 0.7s;
    --hamburger-top: 70px;
    --hamburger-right: 180px;
}

/* a {
    text-decoration: none;
    color: inherit;
} */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 300;
}

.logo img {
    width: 80px;
}


.nav-toggle-btn {
    position: relative;
    top: 0px;
    right: 10px;
    z-index: 301;
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    padding: 15px 20px 15px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-toggle-btn.is-active {
    border-color: var(--text-color);
    color: var(--nav-link-color);
}

.nav-toggle-btn.is-active .toggle-icon,
.nav-toggle-btn.is-active .toggle-icon::before,
.nav-toggle-btn.is-active .toggle-icon::after {
    background-color: var(--text-color);
}

.toggle-icon {
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggle-btn.is-active .toggle-icon {
    background-color: transparent;
}

.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.toggle-icon::before {
    top: -6px;
}

.toggle-icon::after {
    top: 6px;
}

.nav-toggle-btn.is-active .toggle-icon::before {
    transform: translateY(6px) rotate(45deg);
}

.nav-toggle-btn.is-active .toggle-icon::after {
    transform: translateY(-6px) rotate(-45deg);
}



.full-screen-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-link-color);
    z-index: 250;
    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: circle(0% at right var(--hamburger-right) top var(--hamburger-top));
    transition: clip-path var(--transition-speed) ease-in-out;


}

.full-screen-nav.is-open {
    clip-path: circle(150% at right var(--hamburger-right) top var(--hamburger-top));
}

.nav-content-wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    color: var(--text-color);

    opacity: 1;
    transition: none;
}

.nav-main-links {
    font-family:Corbert;
    color: var(--text-color);
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
}

.nav-main-links li a:hover {
    color: var(--primary-color);
}




@media (max-width: 768px) {
    .header {
       padding-top: 20px;
    padding-bottom: 20px;
    }

    .nav-main-links {
        font-size: 30px;
    }

    .nav-footer-info {
        flex-direction: column;
    }

    .contact-details {
        margin-bottom: 20px;
    }

    .logo img {
        width: 60px;
    }
}

.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content h2{
    font-size:40px;
    font-family: "Roboto";
    color: #000;
}

.header-content p{
    font-size:18px;
    font-family: "Roboto";
    color: #000;
}

@media(max-width:767px){
    .header-content{
        display: none;
    }
}


/*  */
.all-main-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown{
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
}

.dropdown-link{
    font-size: 40px;
    position: relative;
    
}

.dropdown-link:hover{
    .dropdown{
        display: block;
    }
}

