:root {
    --primary-color: #ca2734;
    --text-color: #000000;
    --nav-bg-color: #1a1a1a;
    --nav-link-color: #ffffff;
    --transition-speed: 0.7s;
    --hamburger-top: 70px;
    --hamburger-right: 180px;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 300;
}

.logo img {
    width: 80px;
}

.nav-toggle-btn {
    position: relative;
    top: 0px;
    right: 10px;
    z-index: 10001;
    background-color: transparent;
    border: 2px solid #000;
    color: var(--heading-main-color);
    padding: 15px 20px 15px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-toggle-btn.is-active {
    border-color: #000;
    color: #ffffff;
     top: 5px;
    right: 7px;
}

.nav-toggle-btn.is-active .toggle-icon,
.nav-toggle-btn.is-active .toggle-icon::before,
.nav-toggle-btn.is-active .toggle-icon::after {
    background-color: #000;
}

.toggle-icon {
    display: inline-block;
    margin-left: 10px;
    width: 18px;
    height: 2px;
    background-color: #000;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggle-btn.is-active .toggle-icon {
    background-color: transparent;
}

.toggle-icon::before,
.toggle-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
}

.toggle-icon::before {
    top: -6px;
}

.toggle-icon::after {
    top: 6px;
}

.nav-toggle-btn.is-active .toggle-icon::before {
    transform: translateY(6px) rotate(45deg);
}

.nav-toggle-btn.is-active .toggle-icon::after {
    transform: translateY(-6px) rotate(-45deg);
}

.full-screen-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    clip-path: circle(0% at right var(--hamburger-right) top var(--hamburger-top));
    transition: clip-path var(--transition-speed) ease-in-out;
    overflow: scroll;
}
.full-screen-nav.is-open {
    clip-path: circle(150% at right var(--hamburger-right) top var(--hamburger-top));
}

.nav-content-wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 0px;
    /* color: #000000; */
    opacity: 1;
    transition: none;
    z-index: 99999;
}



/*  */

.open-nav-col{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 30px;
}

.links-cols{
    padding-top: 50px;
}
.nav-main-links{
    list-style: none;
    line-height: 1.8em;
}

.header-solo-link{
    font-family: var(--font-roboto);
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #888;
}

.header-solo-link:hover{
    color: #ca2734 !important;
}
.active {
  color: #ca2734   !important;
}


.header-solo-heading-parent{
    margin-bottom: 10px !important;
}

.header-solo-heading{
    font-size: 20px;
    color: var(--heading-main-color);
    font-family: var(--font-corbert-bold);
    font-weight: 700;
}

.contact-us-heading-div{
    display: flex;
}

.contact-us-col{
    display: flex;
    padding-top: 20px;
}
.contact-us-col .me-2{
    margin-right: 20px;
}

.contact-us-col h4{
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    font-size: 18px;
    color: var(--heading-main-color);
}

.contact-us-col p{
    font-family: var(--font-roboto);
    font-size: 16px;
    color: #888;
    line-height: 1.3em;
    margin-bottom: 0px;
}

.contact-us-row{
    border: 1px solid #888;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}


.mobile-nav{
    display: none;
}

@media(max-width:767px){
    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: block;
    }

.navbar-for-mobile{
    margin-top: 50px;
}

 .logo img {
        width: 60px;
    }

    .accordion-item-custom{
        margin: 20px 0;
        box-shadow: 0 2px 11px -1px #0000001a;
        border: none;
        border-radius: 20px;
       font-family: var(--font-corbert);
    }

}

.footer-social-icons{
    padding-top: 20px;
    padding-left:10px;
     display: flex;
     gap: 15px;
}

.footer-social-icons-unit{
    font-size: 1.3em;   
    color: black;    
    display: flex;          
    align-items: center;    
    text-decoration: none; 
}

.footer-add-map{
    color: #fff;
    text-decoration: none;
}

