/* Creative Brochure Design But With A Twist */


.every-pr {
  color: var(--heading-highlite-color);
}

.creative-brochure{
  padding: 80px 0px 80px 0px;
}

.swipper-slide-div-brochure img{
  border-radius: 20px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.2);
  margin: 50px 20px;
  padding: 30px;
}

.creative-brochure-div h2{
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: var(--heading-main-color);
  padding-bottom:20px;
}

@media(max-width:767px){
  .creative-brochure-div h2{
  font-size: 40px;
}
.creative-brochure{
  padding: 50px 0;
}
}
