/* lppackagingHero */
.lppackagingHero{
    background-image: url("https://dndesigns.co.in/uploads/pages/herobgpaper01ebdimage-104jj.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 120px 0;
   
}

/* .lppackagingHero-left-col{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
} */

.lppackagingHero-left-col-bottom{
    position: relative;
}

.lppackagingHero-left-col-upper{
    background-image: url("https://dndesigns.co.in/uploads/pages/herobgpaperdhsgfjhgherdcrumpled-checkered.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    position: relative;
    /* height:70%; */
}

/* .lppackagingHero-left-col-bottom{
    height: 50%;
} */



.hero-head{
    font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
    color: #161616;
}

.hero-head-span{
    color: #ca2734;
}

.hero-para-desc{
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    padding: 20px 0 10px 0;
    width: 80%;
}

@media(max-width:767px){

    .hero-head{
        font-size: 30px;
    }
     .hero-para-desc{
    width:100%;
}
}



/* pop image div */
/* .popImagesdiv{
    display: flex;
}
.pop-up-image{
    height: 50px;
    width: 50px;
} */


/* .img1{
    top:0;
    left:110px;
    animation:topPop .8s forwards;
}

.img2{
    top:80px;
    left:0;
    animation:leftPop .8s .2s forwards;
}

.img3{
    top:80px;
    right:0;
    animation:rightPop .8s .4s forwards;
}

.img4{
    bottom:0;
    left:75px;
    animation:bottomPop .8s .6s forwards;
}

.img5{
    bottom:0;
    right:75px;
    animation:bottomPop .8s .8s forwards;
}


@keyframes topPop{
    from{
        transform:translateY(-180px) scale(.2);
        opacity:0;
    }
    to{
        transform:translateY(0) scale(1);
        opacity:1;
    }
}

@keyframes leftPop{
    from{
        transform:translateX(-220px) rotate(-25deg) scale(.2);
        opacity:0;
    }
    to{
        transform:translateX(0) rotate(0) scale(1);
        opacity:1;
    }
}

@keyframes rightPop{
    from{
        transform:translateX(220px) rotate(25deg) scale(.2);
        opacity:0;
    }
    to{
        transform:translateX(0) rotate(0) scale(1);
        opacity:1;
    }
}

@keyframes bottomPop{
    from{
        transform:translateY(180px) scale(.2);
        opacity:0;
    }
    to{
        transform:translateY(0) scale(1);
        opacity:1;
    }
} */

/* tapes */

.lpheropackingstraighttape{
    position: absolute;
    left: -37%;
    top:-5%;
    width:280px;
}
.lpherotaptiltimg{
    position: absolute;
    left: 75%;
    top: 80%;
    width:250px;
}

@media(max-width:1399.5px){
    .lpheropackingstraighttape{
    position: absolute;
    left: -37%;
    top:-5%;
    width:230px;
}
.lpherotaptiltimg{
    position: absolute;
    left: 75%;
    top: 80%;
    width:250px;
}
}


@media(max-width:1200.5px){
    .lpheropackingstraighttape{
    position: absolute;
    left: -35%;
    top:-3%;
    width:200px;
}
.lpherotaptiltimg{
    position: absolute;
    left: 75%;
    top: 85%;
    width:160px;
}
}

@media(max-width:991.5px){
    .lpheropackingstraighttape{
    position: absolute;
    left: -23%;
    top:-3%;
    width:180px;
}
.lpherotaptiltimg{
    position: absolute;
    left: 80%;
    top: 80%;
    width:180px;
}
}

@media(max-width:767.5px){
    .packging-design-agency-form{
        padding-top: 20px;
    }
    .lpheropackingstraighttape{
    position: absolute;
    left: -20%;
    top:-8%;
    width:170px;
}
.lpherotaptiltimg{
    position: absolute;
    left: 76%;
    top: 83%;
    /* right:-10%; */
    width:170px;
}

.lppackagingHero{
    overflow: hidden;
}
}



/* marque */

.brands-that-us{
    padding: 80px 0 30px 0;
}
.brands-that-us-head{
    text-align: center;
    font-family: var(--font-corbert-bold);
    font-size: 45px;
    font-weight: 700;
    color: #161616;
    padding-bottom: 15px;
}

.brands-that-us-para{
    text-align: center;
    font-family: var(--font-roboto);
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    width:70%;
}

.marque-div{
    padding: 20px 0;
}
.marque-div-2{
    padding-bottom: 80px;
}

@media(max-width:767px){
    .brands-that-us-head{
    font-size: 30px;
}
.brands-that-us-para{
    margin-bottom: 0px;
    width:100%;
}
.marque-div{
    padding: 10px 0;
}
}

.brands-that-us-head-span{
    color: #ca2734;
}

.brands-that-us-head-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* lp what we can do pacjging design services */
.what-we-can-branding-services{
    background-color: #F3F3F3;
    padding: 60px 0;
}

.what-we-do-lefty-col-para{
    color: #ca2734;
    text-transform: uppercase;
    font-family:var(--font-roboto);
    font-weight: 500;
    font-size: 14px;
}

.what-we-do-lefty-col-head{
    color: #0A0A0A;
    font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
    width: 80%;
}

.what-we-do-right-col-para{
    color: #888888;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 400;
    width: 50%;
}

.what-we-do-right-col{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
} 

/* cols css */
.asthetic-para-label{
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 400;
    color: #ca2734;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.asthetic-head{
    color: #2A2320;
    font-family: var(--font-corbert);
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 20px;
}

.asthetic-para-desc{
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
    color: #2A2320;
}

.what-we-can-do-col-left-content{
    padding: 20px;
}
.what-we-can-do-col-left{
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
justify-content: space-between;
}

.what-we-can-do-col-left-img{
    border-radius: 0 0 12px 12px;
}

.what-we-can-do-col-left-third-div{
      display: flex;
    align-items: stretch;
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    display: flex;
    flex-direction: row;
justify-content: space-between;
}

.what-we-can-do-col-left-content{
    flex: 1;
}

.what-we-can-do-col-left-img-third-row{
    width: 50%;
    object-fit: cover;
      border-radius: 0 12px 12px 0px;
}


.row-div-abc{
    display: flex;
    gap: 20px;
}

.col-div-left{
     width: 64.5%;
}
.col-div-right{
    width: 35.5%;
}


@media(max-width:991px){
    .row-div-abc{
    flex-direction: column;
}
.col-div-left{
     width: 100%;
}
.col-div-right{
    width: 100%;
}

.asthetic-head{
    font-size: 25px;
}  

.what-we-can-do-col-left-third-div{
    flex-direction: column !important;
}
.what-we-can-do-col-left-img-third-row{
    width:100% !important;
    border-radius: 0 0 12px 12px !important;
}
}

@media(max-width:767px){
    .what-we-do-right-col{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
} 

.what-we-do-right-col-para{
    width: 100%;
}
.what-we-do-lefty-col-head{
    width: 100%;
}
}





/* proceess */
/* Creative Catalogue Designing - Our Process desktop view */
.creating-your-brand{
  padding: 50px 0;
}

#card1-create {
  --index: 1;
  top: 170px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 200px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 230px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 260px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 290px;
  margin-top: 20px;
}

#card6-create {
  --index: 6;
  top: 320px;
  margin-top: 20px;
}

#card7-create {
  --index: 7;
  top: 350px;
  margin-top: 20px;
}

#card8-create {
  --index: 8;
  top: 380px;
  margin-top: 20px;
}

#card9-create {
  --index: 9;
  top: 410px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 20px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0px 0px 0px 0px;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: #000;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
  color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body-create p{
      color: #888888;
   font-family: var(--font-roboto);
   font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 41vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/* creating-your-brand mobile view*/

.creating-your-brand-mobile{
  padding: 50px 0 0 0;
}

.our-brand-heading-a-mobile{
  color: #000;
 font-family: var(--font-corbert-bold);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
}

.card-body-create-mobile h2{
      color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}



.creating-brand-mobile-row-col{
    background-color: #fff;
}



.creating-brand-mobile-row-col-1{
    position: sticky;
    top:100px;
    z-index:1;
}

.creating-brand-mobile-row-col-2{
    position: sticky;
    top:120px;
    z-index:2;
}

.creating-brand-mobile-row-col-3{
    position: sticky;
    top:140px;
    z-index:3;
}

.creating-brand-mobile-row-col-4{
    position: sticky;
    top:160px;
    z-index:4;
}

.creating-brand-mobile-row-col-5{
    position: sticky;
    top:180px;
    z-index:5;
}


/* what we do section */

.what-we-do-section{
    padding: 80px 0;
    /* background-color: #F3F3F3; */
}

.everything-you-need-para{
    color: #ca2734;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--font-roboto);
    font-weight: 400;
}

.everything-you-need-head{
    font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
    color: #0A0A0A;
    width: 80%;
}


.everything-you-need-desc-div{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
}

.everything-you-need-desc{
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    color: #888888;
    width: 50%;
}

.what-we-do-section-content-row{
    padding-bottom: 20px;
}

.foundation-col-img{
    border-radius: 25px;
}

.lp-packaging-video{
    border-radius: 25px;
}


/* row-div-what-we-do */
.row-div-what-we-do{
    display:flex;
    gap:20px;
}
.coldiv-what-we-do-left{
    width: 32.4%;
}
.coldiv-what-we-do-right{
    width: 67.6%;
}

.coldiv-what-we-do-one{
    width: 27%;
}

.coldiv-what-we-do-two{
    width: 47.5%;
}

.coldiv-what-we-do-three{
    width: 25.5%;
}















@media(max-width:991px){
    .everything-you-need-desc-div{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding-top: 20px;
}

.everything-you-need-desc{
    width: 100%;
}

.everything-you-need-head{
    width: 100%;
    font-size: 30px;
}

.what-we-do-section-content-row{
    padding-bottom: 0px;
}
.row-div-what-we-do{
    flex-direction: column;
    gap: 0;
}


.coldiv-what-we-do-left{
    width: 100%;
}
.coldiv-what-we-do-right{
    width: 100%;
}

.coldiv-what-we-do-one{
    width: 100%;
}

.coldiv-what-we-do-two{
    width: 100%;
}

.coldiv-what-we-do-three{
    width: 100%;
}
}