
.faq-section {
  padding: 50px 0px 40px 0px;
}

.faq-section h2 {
    font-size: 56px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    color: #000;
    padding-bottom:50px;
}
@media(max-width:767px){
  .faq-section h2 {
    font-size: 40px;
    padding-bottom:30px;
  }
}

.accordio-item {
   box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.accordio-item.open {
   box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
}

.accordio-link {
  width: 100%;
  color: #000;
  font-size: 1.1rem;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
  background-color: #fff;
}

.dd::after{
  content: " \002D";
   font-size: 30px;
   color: #ca2734;
}

.aa::after{
  content: "\002B ";
  font-size: 30px;
  color: #ca2734;
}



.accordio-link h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.icon {
  color: #ca2734;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.35s ease;
  opacity: 0;
}

.accordio-item.open .answer {
  opacity: 1;
}

.answer p {
  font-size: 16px;
  color: #000;
  padding: 1rem 1.5rem;
  margin: 0;
  line-height: 1.6em;
  font-family: var(--font-roboto);
  font-weight: 500;
}


.quesion h3{
  font-family: var(--font-corbert-bold);
  font-weight: 500;
  color: #000;
  font-size: 18px;
  text-align: left;
  padding-right: 20px;
}

