/* career-hero */
.career-hero{
    padding-top:10px;
}

.career-hero-col-l{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.career-hero-col-l h1{
    font-size: 50px;
    font-family: var(--font-corbert-bold);
    width: 80%;
    color: #000;
}

.wow{
    color:#ca2734;
}

.career-hero-col-l p{
    font-size: 18px;
   font-family: var(--font-roboto);
    width: 80%;
    color: #000;
    line-height: 1.6em;
    padding-top: 10px;
}

.career-hero-col-r{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:767px){
    .career-hero-col-l h1{
        font-size: 40px;
    }

    .career-hero{
    padding-top:50px;
}
}


/* image  */
.responsive-img {
  width: 100%;
  height: auto;
}