/* our services */
.our-service {
 padding: 40px 0px 40px ;
}

.our-service h2 {
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.our {
  color: #ca2734;
  font-size: 62px;
  font-family: "Corbert";
  font-weight: 700;
}
.service-card {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
}

.service-card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
  padding: 20px;
}

.front img {
  width: 100%;
  border: 2px solid grey;
  border-radius: 20px;
}

.front h3 {
  color: black;
  padding: 20px 0px 8px 10px;
  font-size: 25px;
  font-family: "Corbert";
  font-weight: 500;
  margin: 0px;
}

.front p {
  color: black;
  padding: 0px 0px 10px 10px;
  font-size: 26px;
  font-family: "Corbert";
  font-weight: 500;
  margin: 0px;
  padding-bottom: 10px;
}

.service-card .back {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ca2734;
  color: white;
  transition: bottom 0.6s ease;
}

.service-card:hover .front {
  transform: translateY(-100%);
}

.service-card:hover .back {
  bottom: 0;
}

.hr {
  height: 3px;
  background-color: #fff;
}

.back-up {
  padding: 50px 30px;
}

.back-up h3 {
  color: #fff;
  padding: 20px 0px 8px 10px;
  font-size: 25px;
  font-family: "Corbert";
  font-weight: 500;
  margin: 0px;
}

.back-up p {
  color: #fff;
  padding: 0px 0px 10px 10px;
  font-size: 26px;
  font-family: "Corbert";
  font-weight: 500;
  margin: 0px;
  padding-bottom: 10px;
}

.back-down {
  color: White;
  padding: 20px 0px 8px 10px;
  font-size: 20px;
  font-family: "Corbert";
  font-weight: 500;
  margin: 0px;
}

.page-linking {
  color: White !important;
  position: relative;
  text-decoration: none;
}

.page-linking::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.page-linking:hover::after {
  width: 100%;
}

@media(max-width:991px){
  .our-service {
 padding: 50px 0;
}

.our-service h2 {
  padding-bottom: 30px;
}

}

@media (max-width: 767px) {
  .our-service h2 {
    font-size: 35px;
  }

  .our {
    font-size: 45px;
  }

  .service-card {
    height: 600px;
    margin: 20px 0;
  }

  .our-service {
 padding: 40px 0;
}
.our-service h2 {
  padding-bottom: 20px;
}

}



/*  Approach project  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding: 80px 0;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: #000000;
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: "Roboto";
  margin-bottom: 40px;
}

.every-pr {
  color: #ca2734;
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Corbert";
  font-weight: 500;
  color: #ca2734;
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: "Roboto-Regular";
}


@media(max-width:991px){
  .appr-pro h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .appr-pro {
    padding: 40px 0;
  }
  
  .appr-pro p {
    width: 100%;
  }

  .appr-pro h2 {
    font-size: 30px;
  }
}




/* top-cap */

.top-cap {
  padding: 80px 0;
}

.top-cap h2 {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
}

.top-cap p {
  color: #000000;
  font-family: "Roboto-Regular", Sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.top-cap-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.top-cap-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.top-cap-div .cap-img{
  width: 90px;
}

.top-cap-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.top-cap-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.top-cap .headg {
  padding-bottom: 80px;
}

.top-cap-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.top-cap-back-content p {
  color: #fff;
}

.top-cap-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .top-cap-btm {
    opacity: 0;
  }

  .top-cap-div {
    background-color: #ca2734;
  }

  .top-cap-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .top-cap h2 {
    font-size: 40px;
  }

  .headg {
    padding: 30px 0;
  }
  .top-cap {
  padding: 40px 0;
}
}



/* faqs */

.faqs{
  padding: 60px 0;
}

.faqs h2 {
    font-size: 56px;
    font-family: Corbert;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

@media(max-width:767px){
  .faqs h2 {
    font-size: 40px;
    padding: 0 10px;
  }
  .faqs{
  padding: 20px 0;
}
}

