.service-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.service-hero h1 {
  font-size: 62px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
}

.service-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.talk-to-us-mobile{
    display: none;
}

@media (max-width: 767px) {

.talk-to-us-desktop{
    display: none;
}
 
.talk-to-us-mobile{
    display: block;
}

.service-hero h1 {
    font-size: 40px;
  }

.service-hero p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
