.every-pr {
  color: #ca2734;
}
 /* Our Work Portfolio */

.portfolio{
 padding-top: 80px;
 padding-bottom: 30px;
}

.port-row{
  padding: 10px 0;
}


.port-div {
  border: 1px solid #a8a8a8;
  padding: 0;
  border-radius: 12px;
  height: 100%;
}

.port-div img {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.port-div video {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.portfolio h2 {
  color: #000;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.potfolio-div-btns {
  display: flex;
  justify-content: space-between;
}

.our-port-btn {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  padding: 10px;
  font-family: var(--font-roboto);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px 6px 6px 6px;
  font-size: 16px;
  color: #000;
}

.our-port-btn-up {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.our-port-btn-up button {
  font-family: var(--font-corbert);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  font-size: 18px;
}

.port-content {
  padding: 20px;
}
.port-div-headg h3 {
  color: #ca2734;
  font-family: var(--font-corbert-bold);
  font-size: 32px;
  font-weight: 700;
}

.port-content p {
  color: #888888;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
  padding-top: 5px;
  padding-bottom:0px;
}

@media (max-width: 768px) {
  .our-port-btn-up button {
    font-size: 14px;
  }

  .port-div-headg h3 {
    font-size: 24px;
  }
  .our-port-btn {
    padding: 5px;
  }
  .port-content {
    padding: 15px;
  }
  .potfolio-div-btns {
    flex-direction: column;
  }

  .port-div {
    margin: 10px 0;
  }

  .port-row {
  padding: 0px 0px;
}

.port-main-div{
  margin-top: 10px;
}

.portfolio h2{
  font-size:40px;
  padding-bottom: 20px;
}
.portfolio {
  padding: 50px 0;
}
}

@media(max-width:1200px){
.port-div-headg h3 {
  font-size: 25px;
}
}

@media(max-width:992px){
.port-div-headg h3 {
  font-size: 32px;
  padding-bottom: 10px;
}
 .potfolio-div-btns{
  display: flex;
  flex-direction: column;
 }

 .our-port-btn{
  width: 50%;
  text-align: center;
 }
 .our-port-btn-up{
  margin: 0;
  padding: 0;
 }

 .port-content p{
  padding-top: 10px;
 }
}



/* creating-your-brand desktop view*/
.creating-your-brand{
  padding-top: 50px;
 padding-bottom: 60px;
}

#card1-create {
  --index: 1;
  top: 210px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 240px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 270px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 300px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 330px;
  margin-top: 20px;
}


.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 20px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0px 0px 0px 0px;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: #000;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
  color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body-create p{
      color: #888888;
   font-family: var(--font-roboto);
   font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 40vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/* creating-your-brand mobile view*/

.creating-your-brand-mobile{
  padding-top: 50px;
 padding-bottom: 30px;
}

.our-brand-heading-a-mobile{
  color: #000;
 font-family: var(--font-corbert-bold);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
}

.card-body-create-mobile h2{
      color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}

/* top-cap */

.top-cap {
  padding-top: 40px;
 padding-bottom: 60px;
}

.top-cap h2 {
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.top-cap p {
  color: #000;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
}
.top-cap-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.top-cap-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.top-cap-div .cap-img{
  width: 100px;
}

.top-cap-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.top-cap-btm h3 {
  font-size: 22px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
}

.top-cap-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.top-cap .headg {
  padding-bottom: 80px;
}

.top-cap-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}


.top-cap-back-content h3 {
  font-size: 22px;
  font-family: var(--font-corbert-bold);
  color: #fff;
  padding-bottom: 10px;
}


.top-cap-back-content p {
  color: #fff;
}

.top-cap-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .top-cap-btm {
    opacity: 0;
  }

  .top-cap-div {
    background-color: #ca2734;
  }

  .top-cap-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .top-cap h2 {
    font-size: 40px;
  }

  .headg {
    padding: 30px 0;
  }
}

/* standalone  */
.standalone-sec-pac{
  padding-top: 50px;
  padding-bottom: 30px;
}

.standalone-sec-pac .headg{
  font-size: 50px;
    color: #000;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
    padding-bottom: 30px;

}

@media screen and (max-width:767px) {
  .standalone-sec-pac .headg{
    font-size: 40px;
    padding-bottom: 10px;
  }
  .standalone-sec-pac{
  padding-top: 30px;
  padding-bottom: 10px;
}
}

