.main-footer-div{
    background-color: #ca2734;
}

.ff{
    font-family: var(--font-corbert);
}
.ff p{
    font-family: var(--font-roboto);
}
.footer-join {
    font-family: var(--font-corbert-bold);
    font-weight: 700;
}

.footer-li ul li a{
    font-family: var(--font-corbert-bold);
    font-size:48px;
    line-height: 0;
    font-weight: 700;
}

.footer-add-conn {
    font-size:22px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
}



.footer-add-conn p a{
    font-size:20px;
    columns: red;
}

.contact-details a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-hr{
    border-top:1.5px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.footer-social-icons{
     display: flex;
     gap: 15px;
}

.footer-social-icons-unit{
     font-size: 1.3em;   
    color: #fff;    
    display: flex;          
    align-items: center;    
    text-decoration: none; 
}

@media(max-width:767px){
     .footer-hr{
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        gap: 20px; 
}
}


@media screen and (max-width:991px){
    .footer-li ul li a{
    font-size:38px;
    line-height: 0;
    font-weight: bold;
}
}
@media screen and (max-width:767px){
    .footer-li ul li a{
    font-size:35px;
    line-height: 0;
    font-weight: bold;
}
}