.lpform-right-col-div-desktop{
    padding-top: 50px;
    height: 100%;
}


/* marque section */
.brands-that-us{
    padding: 80px 0 30px 0;
}
.brands-that-us-head{
    text-align: center;
    font-family: var(--font-corbert-bold);
    font-size: 45px;
    font-weight: 700;
    color: #161616;
    padding-bottom: 15px;
}

.brands-that-us-para{
    text-align: center;
    font-family: var(--font-roboto);
    color: #888888;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.marque-div{
    padding: 20px 0;
}
.marque-div-2{
    padding-bottom: 80px;
}

@media(max-width:767px){
    .brands-that-us-head{
    font-size: 30px;
}
.brands-that-us-para{
    margin-bottom: 0px;
}
.marque-div{
    padding: 10px 0;
}
}


/* What We Do */
.what-we-do{
    padding: 60px 0;
    background-color: #F3F3F3;
}

.what-we-do-lefty-col-para{
    color: #ca2734;
    text-transform: uppercase;
    font-family:var(--font-roboto);
    font-weight: 500;
    font-size: 14px;
}

.what-we-do-lefty-col-head{
    color: #0A0A0A;
    font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
    width: 80%;
}

.what-we-do-right-col-para{
    color: #888888;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 400;
    width: 50%;
}

.what-we-do-right-col{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
}




.what-we-do-box-div-img-overlay{
    position: relative;
}

.overlay-lp-page{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: linear-gradient(360deg, #0A0A0A 0%, rgba(10, 10, 10, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 20px;
    border-radius: 25px 25px 0 0;
    flex-direction: column;
}

.overlay-head{
    color: #fff;
    font-family: var(--font-corbert-bold);
    font-size: 32px;
    font-weight: 700;
}

.what-we-do-box-div{
    background-color: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}

.what-we-do-box-div-img{
    border-radius: 25px 25px 0 0;
}

.what-we-do-box-div-content{
    padding: 20px;
}

.what-we-do-spans-div{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 10px;
}
.what-we-do-span{
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    background-color: #F5F5F5;
    padding: 5px 12px;
    border-radius: 17px;
}

.what-we-do-box-div-content-para{
    font-family: var(--font-roboto);
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.what-we-do-row-div{
    padding: 20px 0;
}

.overlay-para{
    color: #fff;
    text-transform: uppercase;
    font-family:var(--font-roboto);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
}

.overlay-upper{
    display: flex;
    justify-content: end;
    width: 100%;
}

.overlay-upper-number{
    color: rgba(255, 255, 255, 0.15);
    font-size: 50px;
    font-family: var(--font-corbert-bold);
    font-weight: 700;
}

.start-your-jouney-para{
    font-family: var(--font-roboto);
    color: #ca2734;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
}


@media(max-width:767px){
    .what-we-do-right-col{
    display: flex;
    align-items: end;
    justify-content: start;
    height: 100%;
    padding-top: 10px;
}

.what-we-do-right-col-para{
    width: 100%;
}

.what-we-do-lefty-col-head{
    font-size: 35px;
    width: 100%;
}

.what-we-do-row-div{
    padding: 0px 0;
}
}

/* red-bg-overlay */
.red-bg-overlay{
    background-color: #ca2734;
    width: 100%;
    height:250px;
    margin-top: -185px;
}
@media(max-width:767px){
    .red-bg-overlay{
        height: 300px;
        margin-top: -280px;
    }
}


/* hero */
.switch-on-div{
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
    box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
  height: 100%;
  background-color: #fff;
  
}




.switch-on-div h3{
  font-size: 35px;
  color: #ca2734;
 font-family: var(--font-corbert-bold);
  font-weight: 700;
  padding-bottom: 5px;
}

.switch-on-div p{
  font-size: 18px;
  color: #000;
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 1em;
}



@media(max-width:991px){
  

  

.switch-row{
    margin-top: 40px;
    padding-left: 15px;
  }

  .switch-on-middle-div-img-last{
    margin: 20px 0;
  }

  .switch-on-div-main{
    margin-top: 20px;
  }
}

.switch-on-div-content{
    padding: 20px;
}

.vertical-bar{
    height: 93px;
    width: 4px;
    background-color: #000;
    margin: 20px;
}

.switch-on-div-content{
    padding: 20px;
}


.hero-left-col-div{
    padding: 50px 0 0 0;
}

.lpform-right-col-div{
    height: 100%;
}

.rating-icons {
  display: flex;
  color: #CA2734;
  font-size: 20px;
  gap: 0px;
}

.hero-col-label{
    display: flex;
    gap: 5px;
    border: 1px solid rgba(202, 39, 52, 0.2);
    background-color: rgba(202, 39, 52, 0.1);
    border-radius: 16px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
}

.hero-label-para{
    /* line-height: 1em; */
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    color: #ca2734;
    /* padding-top: 8px; */
}

.hero-head{
    font-family: var(--font-corbert-bold);
    font-size: 32px;
    font-weight: 700;
    color: #161616;
    /* padding-top: 50px; */
}

.hero-head-span{
    color: #ca2734;
}

.hero-para-desc{
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    padding: 20px 0 10px 0;
}


.brands-that-us-head-span{
    color: #ca2734;
}

.lpform-right-col-div-mobile{
    display: none;
}

.hero-counter-row-div-for-mobile{
    display: none;
}


@media(max-width:767px){
.lpform-right-col-div-mobile{
    display: block;
    
}
.hero-counter-row-div-for-desktop{
    display: none;
}
.lpform-right-col-div-desktop{
    display: none;
}
.hero-counter-row-div-for-mobile{
    display: block;
    
}
#faq{
    padding-top: 00px;
    padding-bottom: 10px;
}
}

.what-we-do-box-div{
    height:100%;
}

#faq{
    padding-top: 30px;
    padding-bottom: 30px;
}


#enquiry-form-desktop{
    padding-top: 100px;
}


@media(max-width:767px){
    #enquiry-form-desktop{
        padding-top: 70px;
    }

    .vertical-bar{
        height: 80px;
    }
    .switch-on-div-content{
    padding: 0px;
}

.switch-on-div h3 {
    font-size: 25px;
}

.switch-on-div p{
    font-size: 16px;
}
}



