
/* The Protagonists  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 40px;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: var(--font-corbert);
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: var(--heading-main-color);
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: var(--font-roboto);
  margin-bottom: 40px;
}

.every-pr {
  color: var(--heading-highlite-color);
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: var(--font-corbert);
  font-weight: 500;
  color: var(--heading-highlite-color);
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: var(--font-roboto);
}

.app-pro-div-up{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
 .appr-pro .appr-pro-main-head {
  font-size: 40px;
}
}


/* E-Catalogues */

.e-catalogues{
  padding: 50px 0;
}

.e-catalogues-left{
  background-color: var(--heading-highlite-color);
  border-radius: 10px;
  color: #ffffff;
  padding: 20px;
}

.e-catalogues-left h4{
 font-family: var(--font-corbert);
  font-size: 18px;
  font-weight: 400;
}

.e-catalogues-left h3{
      color: #FFFFFF;
   font-family: var(--font-corbert);
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
}

.e-catalogues-left p{
          color: #FFFFFF;
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 1.4em;
    padding-top: 20px;
}


.e-catalogues-right img{
      border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #CCCCCC;
    border-radius: 16px 16px 16px 16px;
}
.e-catalogues-right-row-d{
  margin-top: 20px;
}

.e-catalogues-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.e-catalogues-right-row {
  display: flex;
  align-items: stretch; 
}

.e-catalogues-main-col{
  display: flex;
  margin-top: 20px;
}

.e-catalogues-left,
.e-catalogues-right {
  flex: 1; 
} 

@media(max-width:991.98px){
  .e-cata-right-img{
  margin-top:20px ;
}
}


/* Creative Catalogue Designing - Our Process desktop view */
.creating-your-brand{
  padding: 50px 0;
}

#card1-create {
  --index: 1;
  top: 170px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 210px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 260px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 310px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 360px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 40px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: var(--heading-main-color);
  font-family: var(--font-corbert);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: var(--heading-highlite-color);
    font-family: var(--font-corbert);
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
      color: var(--heading-main-color);
    font-family: var(--font-corbert);
    font-size: 38px;
    font-weight: 700;
}

.card-body-create p{
      color: #888888;
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 40vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/*  Creative Catalogue Designing - Our Process mobile view */

.creating-your-brand-mobile{
  padding: 50px 0;
}

.our-brand-heading-a-mobile{
  color: var(--heading-main-color);
  font-family: var(--font-corbert);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: var(--heading-highlite-color);
    font-family: var(--font-corbert);
    font-size: 40px;
    font-weight: 600;
}

.card-body-create-mobile h2{
      color: var(--heading-main-color);
   font-family: var(--font-corbert);
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
   font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}
