.animation-video-swipper-up{
    display: flex;
    justify-content: space-between;
}

.animation-video-swipper-up h3{
    font-size: 40px;
   font-family: var(--font-corbert);
    color: var(--heading-main-color);
}

.animation-video-swipper-up button{
    font-size: 16px;
    font-family: var(--font-roboto);
    background-color: var(--heading-main-color);
    color: #fff;
    border-radius: 30px;
    width: 10%;
    border: none;
}


.animation-video-swipper-bottom h4{
font-style: "Corbert";
font-size: 18px;
font-weight: 600;
}

.animation-video-swipper-bottom p{
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 30px;
}
.animation-video-swipper-content-only{
    padding-top: 25px;
}

.swipper-content-animation{
    padding-top: 30px;
}


.hr-animation{
    height: 2px;
    width: 100%;
    background-color: var(--heading-main-color);
    margin: 10px 0;
}

@media(max-width:1200px){
    .animation-video-swipper-up button{
    width: 15%;
    height: 40px;
}
}


@media(max-width:767px){
    .animation-video-swipper-up{
    flex-direction: column;
}

.animation-video-swipper-up button{
    width: 30%;
    height: 40px;
}

.animation-video-swipper-up h3{
    font-size: 32px;
    padding:20px 0 ;
}

.animation-video-swipper-bottom{
    display: none;
}
}

.mySwiper_mm{
    padding-top: 100px;
}


.swiper-pagination {
  padding: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc; 
  opacity: 1;
}


.swiper-pagination-bullet-active {
  background: var(--heading-highlite-color); 
  transform: scale(1.3); 
}


.WebdesignVideoSwipper-container{
    padding: 100px 0;
}


    .swiper-pagination-bullet {
        font-size: 20px;
        color: var(--heading-main-color)!important;
        margin: 0px 180px !important;
        cursor: pointer;
         background: none !important; 
          transition: transform 0.3s ease; 
    }

    .swiper-pagination-bullet-active {
        color: var(--heading-highlite-color) !important;
         transform: scale(1);
    }

    .swiper-pagination{
        position: absolute;
        top: -10px !important;
        left: -10px !important;
    }

    @media(max-width:991px){
         .swiper-pagination-bullet {
        margin: 0px 80px !important;
    
    } 

    .swiper-pagination{
        left: -50px !important;
    }
    }


     @media(max-width:767px){
         .swiper-pagination-bullet {
        margin: 0px 60px !important;
    
    } 

    .swiper-pagination{
        left: -70px !important;
    }
    }

    .website-design-video-swipper{
        padding: 80px 10px;

    }
    .website-design-video-swipper h2{
        font-size: 40px;
         font-family: var(--font-corbert-bold);
        color: #000;
        text-align: center;
    }


    .custom-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 50px 50px;
    }

    .custom-buttons button{
        border: none;
        background-color: #fff;
        font-size: 18px;
         font-family: var(--font-corbert);
        cursor: pointer;
        color: var(--heading-main-color);
        font-weight: 600;
    }


    @media(max-width:767px){
        .custom-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 10px;
    }

      .custom-buttons button{
        border: none;
        background-color: #fff;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        color: var(--heading-main-color);
    }
    }

    .custom-buttons button.active {
  color: #ca2734;
}


