/* testinomails */

.testimonial {
  padding: 40px 0;
}

.testi-slide {
  min-height: 500px;
  max-width: 1300px;
  margin: auto;
}

.testi-left-content {
  height: 100%;
  background-color: #ca2734;
  padding: 40px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.testi-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.testi-icon img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.testi-left-content p {
  font-size: 14px;
  margin-bottom: 0;
  font-family:"Roboto";
}

.testi-left-content h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 30px;
  font-family: "Roboto";
}

.colon-img {
  display: none;
  margin-left: 30px;
}

.quote-mark {
  font-size: 120px;
  line-height: 0.7;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
  margin-left: 30px;
}
.testi-main-img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.founder-name {
  margin-left: 30px;
  font-family: "Roboto";
}

.testi-main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;

}
.testi-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.6em;
  padding: 50px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-family: "Roboto";
}

.testi-right-content p {
  padding: 20px;
}

.testi-right-content p i {
  font-style: italic;
  color: #000;
  max-width: 90%;
}

.rating-icons {
  display: flex;
  color: yellow;
  font-size: 24px;
}

.rating-icons i {
  margin: 0 1px;
}

@media (min-width: 768px) {
  .testi-slide {
    height: 500px;
  }

  .testi-left-content {
    border-radius: 10px 0 0 10px;
  }
  .testi-main-img {
    border-radius: 0;
  }


  .testi-right-content {
    border-radius: 0 10px 10px 0;
    height: 100%;
  }
}
.testimonial .row {
  margin: 0;
  overflow: hidden;
}

.testimonial .row > * {
  padding-left: 0;
  padding-right: 0;
}

@media(max-width:767px){
  .testi-slide {
    max-height: 1000px;
  }

  .testi-left-content {
    border-radius: 10px 0 0 10px;
  }
}


/*  */
/* Make swiper wrapper relative so buttons stay inside */
.testimonial-swiper {
  position: relative;
}

/* Style the navigation buttons */
.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  color: #ca2734;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Position properly */
.testimonial-swiper .swiper-button-next {
  right: 20px;
  top: 90%;
}

.testimonial-swiper .swiper-button-prev {
  left: 20px;
}

/* Make arrow icons normal size */
.testimonial-swiper .swiper-button-next:after,
.testimonial-swiper .swiper-button-prev:after {
  font-size: 18px !important;
}

/* Mobile adjustments */
@media(max-width: 768px) {
  .testimonial-swiper .swiper-button-next {
    right: 10px;
  }
  .testimonial-swiper .swiper-button-prev {
    left: 10px;
  }
}
