
.custom-tabs {
  border-bottom: 1px solid #000;
}

.custom-tabs .nav-link {
  border: none;
  color: #000;
  font-weight: 700;
  padding: 14px 60px 15px 10px;
  background-color: #fff;
  font-size: 16px;
  font-family: var(--font-corbert);
  border-bottom: 1px solid #000;
}

.custom-tabs .nav-link.active {
  color: #CA2734;
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
}

.custom-tabs .nav-link:hover {
  color: #CA2734;
  background-color: #fafafa;
}

.custom-tab-content {
  border: 1px solid #000;
  border-top: none;
  padding: 20px;
  background-color: #fff;
}

.custom-tab-content p {
  margin: 0;
  color: #000;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.7em;
}

/*  Mobile Styles*/

.mobile-tabs {
  display: none;
}

.mobile-tab-heading {
  color: #000;
  font-family: var(--font-corbert);
  font-size: 30px;
}

.mobile-tab-paragraph {
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
  padding: 5px;
  color: #000;
}

@media (max-width: 768px) {
  .logo-tabs-container {
    display: none;
  }

  .mobile-tabs {
    display: block;
  }

  .custom-tabs .nav-link {
    padding: 20px 30px !important;
  }
}

@media (max-width: 991px) {
  .custom-tabs .nav-link {
    padding: 14px 30px 15px 10px;
  }
}

@media (max-width: 1200px) {
  .custom-tabs .nav-link {
    padding: 20px 20px;
  }
}

.tab-pane {
  padding: 20px;
}
