.citypagesswipper-h2{
  font-size: 40px;
  font-family: "Corbert";
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  
}

.citypagesswipper{
  padding: 40px 0;
}

.citypagewiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.citypagewiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
}

/* image */
.citypagewiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* overlay */
.cityswiperoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
  height: 70px;                
  transition: height 0.4s ease;
  overflow: hidden;            
}

/* heading */
.cityswiperoverlay h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  transition: transform 0.4s ease;
  font-family: "Corbert";
}


.cityswiperoverlay p {
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  font-family: "ROboto";
}


.citypagewiper-slide:hover .cityswiperoverlay {
  height: 40%;                
}

.citypagewiper-slide:hover h3 {
  transform: translateY(-10px);
}

.citypagewiper-slide:hover p {
  opacity: 1;
  transform: translateY(0);
}

@media(max-width:1399.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 50%;                
}
}

@media(max-width:1199.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 70%;                
}

.cityswiperoverlay h3 {
  font-size: 20px;
}
}

@media(max-width:991.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 55%;                
}

.cityswiperoverlay h3 {
  font-size: 20px;
}
}


@media(max-width:767.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 30%;                
}
.cityswiperoverlay h3 {
  font-size: 20px;
}
}

@media(max-width:486.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 35%;                
}
.cityswiperoverlay h3 {
  font-size: 20px;
}
}

@media(max-width:428.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 45%;                
}
.cityswiperoverlay h3 {
  font-size: 20px;
}
}


@media(max-width:370.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 60%;                
}
.cityswiperoverlay h3 {
  font-size: 20px;
}

.cityswiperoverlay p {
  margin-top: 0px;
}
}



@media(max-width:320.68px){
  .citypagewiper-slide:hover .cityswiperoverlay {
  height: 70%;                
}
.cityswiperoverlay h3 {
  font-size: 20px;
}

.cityswiperoverlay p {
  margin-top: 0px;
}
}
