/* what-drives-our-growth */
.what-drives-our-growth{
    padding: 50px 0;
}
.what-drives-our-growth-row{
    background-color: #ca2734;
    border-radius: 30px;
}

.what-drives-our-growth-row h3{
    font-family: "Corbert";
    color: #fff;
    font-size: 35px;
}

.what-drives-our-growth-row p{
    font-family: "Roboto";
    color: #fff;
    font-size: 18px;
}

.what-drives-our-growth-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

@media(min-width: 991.68px) and (max-width:1200px){
  .what-drives-our-growth-img-section{
    position: relative;
  }
  .what-drives-our-growth-img-section img{
    position: relative;
    bottom: -25.7%;
  }
}

@media(max-width:767px){
  .what-drives-our-growth{
    padding: 30px 5px;
}
}
/* comprehensive-seo-stregety */


.comprehensive-seo-stregety-content{
    background-color: #F1F1F1;
    border-radius: 32px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comprehensive-seo-stregety-content h2{
    font-family: "Corbert";
    font-size: 32px;
    color: #000;
    padding:10px 0 ;
}

.comprehensive-seo-stregety-content p{
    font-family: "Roboto";
    font-size: 18px;
    color: #000;
}

.transparent-reporting-content{
    background-color: #fff;
    border-radius: 32px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.transparent-reporting-content h2{
    font-family: "Corbert";
    font-size: 32px;
    color: #ca2734;
    padding:10px 0 ;
}

.transparent-reporting-content p{
    font-family: "Roboto";
    font-size: 18px;
    color: #000;
}


@media(max-width:767px){
  .comprehensive-seo-stregety-col{
    margin-top: 20px;
  }
}


/* Characteristics of Good Brand Name? */

.characteristics-of-good {
  padding: 80px 0;
}

.characteristics-of-good h2 {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
}

.characteristics-of-good p {
  color: #000000;
  font-family: "Roboto-Regular", Sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}
.characteristics-of-good-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.characteristics-of-good-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.characteristics-of-good-div .cap-img{
  width: 100px;
}

.characteristics-of-good-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.characteristics-of-good-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.characteristics-of-good .headg {
  padding-bottom: 80px;
}

.characteristics-of-good-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.characteristics-of-good-back-content p {
  color: #fff;
}

.characteristics-of-good-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .characteristics-of-good-btm {
    opacity: 0;
  }

  .characteristics-of-good-div {
    background-color: #ca2734;
  }

  .characteristics-of-good-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .characteristics-of-good h2 {
    font-size: 40px;
  }

  .headg {
    padding: 30px 0;
  }
  .characteristics-of-good {
  padding: 50px 0;
}
}


/* The Protagonists  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 40px;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: #000000;
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: "Roboto";
  margin-bottom: 40px;
}

.every-pr {
  color: #ca2734;
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Corbert";
  font-weight: 500;
  color: #ca2734;
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: "Roboto-Regular";
}

.app-pro-div-up{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
 .appr-pro .appr-pro-main-head {
  font-size: 40px;
}
}


/* creating-your-brand desktop view*/
.creating-your-brand{
  padding: 50px 0;
}

#card1-create {
  --index: 1;
  top: 170px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 210px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 260px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 310px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 360px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 40px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: #CA2734;
    font-family: "Corbert", Sans-serif;
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
      color: #000000;
    font-family: "Corbert", Sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.card-body-create p{
      color: #888888;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 40vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/* creating-your-brand mobile view*/

.creating-your-brand-mobile{
  padding: 50px 0;
}

.our-brand-heading-a-mobile{
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: #CA2734;
    font-family: "Corbert bold", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.card-body-create-mobile h2{
      color: #000000;
    font-family: "Corbert", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}

/* Industries We Serve */

.industries-we-serve{
    padding: 80px 0;
}

.industries-we-serve h3{
     font-size: 50px;
     font-family: "Corbert";
     color: #000;
     text-align: center;
     padding: 50px 0;
}
.industries-we-serve-col{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.industries-we-serve-col h4{
    font-size: 24px;
    font-family: "Corbert";
    color: #000;
    padding: 20px 0;
    text-align: center;
}

.industries-we-serve-col p{
    font-size: 18px;
    font-family: "Roboto";
    color: #000;
    text-align: center;
}

.industries-we-serve-col img{
    width: 60px;
}

/* Get a Free Website Audit */

.website-audit{
    padding: 80px 0;
}

.website-audit-row h3{
      text-align: center;
      font-family: "Corbert";
      font-size: 50px;
      color: #000;
}

.website-audit-row p{
      text-align: center;
      font-family: "Roboto";
      font-size: 18px;
      color: #000;
      padding: 20px 0;
}

@media(max-width:767px){
  .website-audit{
    padding: 30px 0;
}

.website-audit-row h3{
      font-size: 35px;
}
}



/* Projects Completed 300+ Successfully delivered across industries */
.projects-completed img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.projects-completed-div-main-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.projects-completed-div{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:70px 30px;
   margin: 0 20px;
}

.projects-completed-div h3{
  font-size: 43px;
  color: #ca2734;
  font-family: "Corbert";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div h4{
  font-size: 18px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div p{
  font-size: 14px;
  color: #888;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
}

.projects-completed-div-box-sh{
  box-shadow: 0px 3px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 1px solid #E5E7EB;
}

.projects-completed-main-row{
  align-items: stretch;
}

@media(max-width:991px){
  .projects-completed-div{
   margin:20px 20px;
}
}



/* faqs */

.faqs h2 {
    font-size: 56px;
    font-family: Corbert;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
@media(max-width:767px){
  .faqs h2 {
    font-size: 40px;
    padding: 0 10px;
  }
}