/*contact hero */
.contact-hero{
    padding:80px 0;
}


.contact-para{
    color: #000;
    line-height: 32px;
    font-size:20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-para p{
    width: 50%;  
    font-family: "Roboto";
}

.contact-h1{
    width: 80%;
}

.contact-h1 h1{
 color: #000;
    font-family: var(--font-corbert-bold);
    font-size: 50px;
    font-weight: 700;
}

@media(max-width:767px){
    .contact-para{
        justify-content: flex-start;
    }
    .contact-para p{
    width: 100%;  
}

.contact-h1 h1{
 color: #000;
    font-family: var(--font-corbert);
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}
}


