.e-catalogues-left-btn-div{
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.e-catalogues-left button{
      color: #000;
      background-color: #fff;
    font-family: "Corbert", Sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}

