.hero button {
  font-family: var(--font-roboto);
  padding: 14px 60px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 15px;
}
.hero{
  display: flex;
  flex-direction: row;
}

.hero button::after{
  content: "\2192";
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
}


.hero button:first-child {
  background-color: var(--heading-highlite-color);
  color: white;
}

.hero button:last-child {
  background-color: var(--heading-main-color);
  color: white;
}


@media(max-width:992px){

  .hero{
  display: flex;
  flex-direction: column;
}
  .hero button {
    margin: 5px;
    width: 100%;
  }
}