.every-pr {
  color: #ca2734;
}

/* Designs that speak your industryis language */
.designs-that-speak{
  padding-top: 50px;
 padding-bottom: 30px;
}

.designs-that-speak .designs-that-head{
    font-family: var(--font-corbert-bold);
  font-size: 50px;
  padding-bottom: 40px;
}

.ui-img1,
.ui-img2,
.ui-img3{
  padding-top: 10px;
}



.ui-img1,
.ui-img2,
.ui-img3{
  position: sticky;
  top: 40px;
}

.ui-img1, .row-1{z-index:1}
.ui-img2, .row-2{z-index: 2;}
.ui-img3, .row-3{z-index: 3;}
.row-4{z-index: 4;}


@media screen and (max-width:767px) {
  .designs-that-speak{
  padding-top: 3cap;
 padding-bottom: 30px;
}

.designs-that-speak .designs-that-head{
    font-family: var(--font-corbert-bold);
  font-size: 40px;
  padding-bottom: 40px;
}

.designs-that-speak{
  padding-top: 30px;
 padding-bottom: 10px;
}

}

/* UI/UX means nailing the basics */
.nailing-the-basics{
  padding-top: 60px;
  padding-bottom: 30px;
}

#ui-heading{
  font-size: 56px;
  font-weight: 700;
  font-family: var(--font-corbert-bold);
  padding-bottom: 30px;
  color: #000;
}

.ui-description{
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-roboto);
  line-height: 1.6em;
   color: #000;
}


/* Creative Catalogue Designing - Our Process desktop view */
.creating-your-brand{
  padding-top: 30px;
  padding-bottom: 50px;
}

#card1-create {
  --index: 1;
  top: 210px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 240px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 270px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 300px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 330px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 20px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0px 0px 0px 0px;
  position: relative; 
  display: flex;
  align-items: center;
  justify-content:center; 
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0px 0px 0px;
  text-align: center;
  color: #000;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
  color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.card-body-create p{
      color: #888888;
   font-family: var(--font-roboto);
   font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
}

.creating-your-brand{
  display: block;
}

@media(max-width:1200px){

 .card-body-create {
  height: 35vh; 
}

}

@media(max-width:992px){

 .card-body-create {
  height: 40vh; 
}

.create-number{
    font-size: 70px;
}

}

.creating-your-brand-mobile{
  display: none;
}
@media(max-width:767px){
.creating-your-brand{
  display: none;
}
.creating-your-brand-mobile{
  display: block;
}
}

/* creating-your-brand mobile view*/

.creating-your-brand-mobile{
  padding: 50px 0;
}

.our-brand-heading-a-mobile{
  color: #000;
 font-family: var(--font-corbert-bold);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 40px;
}

.creating-brand-mobile-row{
  margin: 0;
}

.creating-your-brand-mobile-box{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  margin: 10px 0;
}

.create-number-mobile{
  color: #ca2734;
   font-family: var(--font-corbert-bold);
    font-size: 40px;
    font-weight: 700;
}

.card-body-create-mobile h2{
      color: #000;
   font-family: var(--font-corbert-bold);
    font-size: 35px;
    font-weight: 700;
    padding: 5px 0;
}

.card-body-create-mobile p{
  color: #888888;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 0px;
}


/* Characteristics of Good Brand Name? */

.characteristics-of-good {
  padding-top: 80px;
  padding-bottom: 40px;
}
.characteristics-of-good-2nd-row{
  margin-top: 40px;
}

.characteristics-of-good h2 {
  font-size: 50px;
 font-family: var(--font-corbert-bold);
  font-weight: 700;
}

.characteristics-of-good p {
  color: #000;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 1.4em;
}
.characteristics-of-good-check-eye {
  width: 50px;
  position:absolute;
  right:5px;
  top:0;
}

.characteristics-of-good-div {
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 400px;
  transition: all 0.6s ease;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 20px;
}

.characteristics-of-good-div .cap-img{
  width: 100px;
}

.characteristics-of-good-btm {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.6s ease;
  padding: 20px 20px 10px 20px;
}

.characteristics-of-good-btm h3{
  font-size: 24px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
}

.characteristics-of-good-main-div {
  transition: all 0.6s ease;
  position: relative;
}
.characteristics-of-good .headg {
  padding-bottom: 80px;
}

.characteristics-of-good-back-content {
  opacity: 0;
  color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.characteristics-of-good-back-content h3{
  font-size: 28px;
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  padding-bottom: 10px;
}

.characteristics-of-good-back-content p {
  color: #fff;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.characteristics-of-good-main-div:hover {
  .cap-img {
    opacity: 0;
  }

  .characteristics-of-good-btm {
    opacity: 0;
  }

  .characteristics-of-good-div {
    background-color: #ca2734;
  }

  .characteristics-of-good-back-content {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .characteristics-of-good h2 {
    font-size: 40px;
  }
  .characteristics-of-good-2nd-row{
  margin-top: 0px;
}


  .headg {
    padding: 30px 0;
  }
  .characteristics-of-good {
  padding: 50px 0;
}
}


/* creaft */

.craft-desktop-view{
    padding: 60px 0;
}

.craft-heading{
  font-size: 50px;
  font-family: var(--font-corbert-bold);
  color: #000;
}

.craft-desktop-head{
  position: sticky;
  top: 20;
  padding-bottom: 50px;
  font-family: var(--font-corbert-bold);
  font-size: 50px;
  font-weight: 700;
   color: #000;
}

.row-1,
.row-2,
.row-3,
.row-4{
  position: sticky;
  top: 100px;
}

.row-4{
  background-color: #fff;
}

.craft-para{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-roboto);
}
.landing-row{
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.custom-row{
  column-gap: 20px;
}

@media (max-width:768px){
  #ui-heading{
  font-size: 40px !important;
  }
  .craft-heading{
    font-size: 35px !important;
  }
}

@media (max-width:1024px){
  #ui-heading{
    font-size: 40px !important;
  }
  .craft-heading{
    font-size: 40px !important;
  }
}
.craft-tab-view{
  display: none;
}

/* craft-mobile and tab-view */


@media(max-width:991px){
  .craft-desktop-view{
    display: none;
  }

  .craft-tab-view{
  display: block;
}
}

.craft-tab-view{
  padding: 40px 0;
}
.craft-tab-view-row{
margin: 0;
}

.craft-tab-view-row h2{
 font-size: 40px;
font-family: var(--font-corbert-bold);
font-weight: 700;
}

.craft-first-div-mobile{
  padding: 20px;
}

.craft-first-div-mobile-content{
  box-shadow:0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.craft-first-div-mobile-content h2{
  font-family: var(--font-corbert-bold);
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 20px;
}

.craft-first-div-mobile-content p{
  font-family: var(--font-roboto);
  font-size: 18px;
}

.craft-first-div-mobile-img{
  box-shadow:0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

