.pages-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pages-hero h1 {
  font-size: 62px;
  color: #000;
  padding-bottom:10px ;
}

.pages-hero h3 {
  font-size: 35px;
  color: #000;
}

.pages-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 18px;
}

.talk-to-us-mobile{
    display: none;
}

@media (max-width: 767px) {

.talk-to-us-desktop{
    display: none;
}
 
.talk-to-us-mobile{
    display: block;
}

.pages-hero h1 {
    font-size: 40px;
  }

  .pages-hero h3 {
  font-size: 25px;
  color: #000;
}

.pages-hero p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
