
.skateboard-desktop-animation {
  width: 100vw;
  max-width: 100vw;

  /* Parent .container se bahar nikal kar viewport ke according */
  margin-left: calc(50% - 50vw);

  position: relative;
  overflow: hidden;

  z-index: 120;
}

.skateboard-desktop-img {
  width: 40%;
  height: auto;

  display: block;
  position: relative;

  z-index: 120;
}

