@import url("https://use.typekit.net/kub7grf.css");

.at-one-am-hero-section{
    padding-top: 80px;
    padding-bottom: 450px;
    background-color: rgba(17, 84, 168, 1);
}

.at-one-am-hero-heading-div{
    display: flex;
    /* align-items: end; */
    gap: 20px;
     /* align-items: stretch; */
}
.at-one-am-hero-heading-div-2{
     display: flex;
    gap: 20px;
}
.at-one-am-hero-img{
    width: 30%;
       height: 100%;
}

.at-one-am-hero-img-2{
    width: 24%;
        height: 100%;
}

.at-one-am-hero-heading-div-2-sub-div{
    display: flex;
}

.at-one-am-hero-img-sub-div{
    width: 40%;
    height: 100%;
}

.hero-heading{
    font-size: 95px;
    font-family: "neutronic-condensed", sans-serif;
font-weight: 900;
font-style: normal;
color: #ffffff;
line-height: 0.8em;
}

.hero-heading-1{
    margin-left:0px;
    margin-right:0px;
}

.hero-heading-2{
    margin-left:0px;
    margin-right:0px;
}

.hero-heading-3{
    margin-left:15px;
    margin-right:0px;
}

.at-one-am-hero-img-1{
    margin-bottom:6px;
    width: 28%;
    height: 100%;
}

.container-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* for responsive */

@media(max-width:991px){
      .hero-heading-1{
        font-size: 60px;
    }
    .hero-heading-2{
         font-size: 60px; 
    }
    .hero-heading-3{
        font-size: 60px; 
    }
    .at-one-am-hero-section{
        padding-bottom: 300px;
    }
    .banner-after-hero-div{
        margin-top: -200px;
    }
}

@media(max-width:767px){
    .hero-heading-1{
        font-size: 50px;
    }
    .hero-heading-2{
         font-size: 50px; 
    }
    .hero-heading-3{
        font-size: 50px; 
    }
    .banner-after-hero-div{
        margin-top: -150px;
    }
     .at-one-am-hero-section{
        padding-bottom: 250px;
    }
}

@media(max-width:550px){
    .hero-heading-1{
        font-size: 30px;
    }
    .hero-heading-2{
         font-size: 30px; 
    }
    .hero-heading-3{
        font-size: 30px; 
    }
    .banner-after-hero-div{
        margin-top: -100px;
    }
     .at-one-am-hero-section{
        padding-bottom: 200px;
    }
}




/* nav-text-parent-div */
.nav-text-parent-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-self: stretch;
}

.nav-text-child-div{
    display: flex;
    justify-content: space-between;
}

.nav-text-parent-span{
    color: #FEF3E3;
   font-family: var(--font-helvetica);
   font-weight: 300;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 16px;
}

.nav-text-parent-div-two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-text-child-div-two{
    display: flex;
    justify-content: end;
    gap: 50px;
}


@media(max-width:991px){
    .nav-text-child-div{
        display: none;
    }
    .at-one-am-hero-heading-div{
    display: flex;
    align-items: end;
    gap: 20px;
     /* align-items: stretch; */
}
.nav-text-parent-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-self: end;
}

.nav-text-child-div-two{
    display: none;
}
}